Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*

refresh resources
  kubernetes/talos/apps/automation/hass-proxy/app/ingress.yaml
  kubernetes/talos/apps/automation/hass-proxy/app/service.yaml
  kubernetes/talos/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/talos/apps/default/homepage/app/helmrelease.yaml
  kubernetes/talos/apps/default/whoami/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/talos/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/talos/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/talos/apps/media/navidrome/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/grafana/ks.yaml
  kubernetes/talos/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/talos/apps/network/cert-manager/issuers/clusterissuer.yaml
  kubernetes/talos/apps/network/ingress-nginx/default-certificate/certificate.yaml
  kubernetes/talos/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/talos/apps/network/ingress-nginx/public/helmrelease.yaml
  kubernetes/talos/apps/network/s3-proxy/app/helmrelease.yaml
  kubernetes/talos/apps/security/authentik/app/gatus.yaml
  kubernetes/talos/apps/security/authentik/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/immich/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
Labels: area/kubernetes, cluster/talos

fix HA service
  kubernetes/talos/apps/automation/hass-proxy/app/service.yaml
Labels: area/kubernetes, cluster/talos

adjust authentik
  infrastructure/terraform/authentik/applications.tf
Labels: area/terraform

Feat/private domain (#2985)
  infrastructure/terraform/authentik/applications.tf
  kubernetes/talos/apps/automation/hass-proxy/app/ingress.yaml
  kubernetes/talos/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/talos/apps/default/homepage/app/helmrelease.yaml
  kubernetes/talos/apps/default/whoami/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/talos/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/talos/apps/flux-system/add-ons/webhooks/github/ingress.yaml
  kubernetes/talos/apps/media/audiobookshelf/app/helmrelease.yaml
  kubernetes/talos/apps/media/navidrome/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/grafana/ks.yaml
  kubernetes/talos/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/talos/apps/network/cert-manager/issuers/clusterissuer.yaml
  kubernetes/talos/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/talos/apps/network/ingress-nginx/default-certificate/certificate.yaml
  kubernetes/talos/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/talos/apps/network/ingress-nginx/public/helmrelease.yaml
  kubernetes/talos/apps/network/s3-proxy/app/helmrelease.yaml
  kubernetes/talos/apps/security/authentik/app/gatus.yaml
  kubernetes/talos/apps/security/authentik/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/immich/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
Labels: area/kubernetes, area/terraform, cluster/talos

fix: you muppet
  kubernetes/talos/apps/network/ingress-nginx/default-certificate/certificate.yaml
Labels: area/kubernetes, cluster/talos

fix: kicking the can
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: these damn alerts
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

feat: tune network sysctls
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: don't do hugepages, we're in a VM
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: content-type fixed upstream
  kubernetes/talos/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/talos

chore: settle on cx3
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

chore: yoink the media namespace
  kubernetes/talos/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/talos

chore: yoink part #2
  kubernetes/talos/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/talos

chore: media ns yoink part final
  kubernetes/talos/apps/media/kustomization.yaml
  kubernetes/talos/apps/media/namespace.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/navidrome/ks.yaml
  kubernetes/talos/apps/selfhosted/pvc/kustomization.yaml
  kubernetes/talos/apps/selfhosted/pvc/media-pvc.yaml
Labels: area/kubernetes, cluster/talos

chore: yoink automation NS
  kubernetes/talos/apps/automation/kustomization.yaml
  kubernetes/talos/apps/automation/namespace.yaml
  kubernetes/talos/apps/network/hass-proxy/app/gatus.yaml
  kubernetes/talos/apps/network/hass-proxy/app/ingress.yaml
  kubernetes/talos/apps/network/hass-proxy/app/kustomization.yaml
  kubernetes/talos/apps/network/hass-proxy/app/service.yaml
  kubernetes/talos/apps/network/hass-proxy/ks.yaml
  kubernetes/talos/apps/network/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: adjust ks
  kubernetes/talos/apps/network/hass-proxy/ks.yaml
Labels: area/kubernetes, cluster/talos

fix: adjust homepage configs
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: try out SQP
  kubernetes/talos/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/talos

Revert "feat: try out SQP"
  kubernetes/talos/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes, cluster/talos

chore: retire ocis
  archive/ocis/app/config/proxy.yaml
  archive/ocis/app/config/web.yaml
  archive/ocis/app/externalsecret.yaml
  archive/ocis/app/helmrelease.yaml
  archive/ocis/app/kustomization.yaml
  archive/ocis/ks.yaml
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/minio/ocis.tf
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, area/terraform, cluster/talos

feat: nextcloud
  archive/nextcloud/app/pvc.yaml
  archive/nextcloud/app/replicationdestination.yaml
  archive/nextcloud/app/replicationsource.yaml
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/minio/nextcloud.tf
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
Labels: area/kubernetes, area/terraform, cluster/talos

add helm repo
  kubernetes/talos/flux/repositories/helm/kustomization.yaml
  kubernetes/talos/flux/repositories/helm/nextcloud.yaml
Labels: area/kubernetes, cluster/talos

no redis password
  kubernetes/talos/apps/selfhosted/nextcloud/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

bump postgres-init
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

bump to newest
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

adjust s3 config
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

try bumping chart version
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

bring my own s3 config
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: nextcloud (#3002)
  archive/nextcloud/app/pvc.yaml
  archive/nextcloud/app/replicationdestination.yaml
  archive/nextcloud/app/replicationsource.yaml
  infrastructure/terraform/authentik/applications.tf
  infrastructure/terraform/authentik/directory.tf
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/minio/nextcloud.tf
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/gatus.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/talos/flux/repositories/helm/kustomization.yaml
  kubernetes/talos/flux/repositories/helm/nextcloud.yaml
Labels: area/kubernetes, area/terraform, cluster/talos

fix: wrong db endpoint
  kubernetes/talos/apps/selfhosted/nextcloud/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

fix: nextcloud hates security
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: back off, try again
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: try again
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: again, with UID
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: try again with security
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/talos

fix: try #3
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/talos

fix: redeploy #3
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: wtf
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: defeat until we figure out wtf
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/namespace.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/talos

feat: disable kexec only where it's needed
  .taskfiles/talos/Taskfile.yaml
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/taskfiles, area/kubernetes, cluster/talos
