Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*

fix: we have direnv at home
  truenas/deploy.sh
Labels: area/truenas

fix: we have direnv at home
  truenas/deploy.sh
Labels: area/truenas

fix: it does not like that
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: it does not like that
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: it does not like that
  truenas/stacks/01-traefik/config/dynamic/dashboard.yml
Labels: area/truenas

fix: it does not like that
  truenas/stacks/01-traefik/config/dynamic/dashboard.yml
Labels: area/truenas

fix: this is okay
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: this is okay
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: don't need this here too
  truenas/undeploy.sh
Labels: area/truenas

fix: don't need this here too
  truenas/undeploy.sh
Labels: area/truenas

fix: wrong dir dummy
  truenas/deploy.sh
Labels: area/truenas

fix: wrong dir dummy
  truenas/deploy.sh
Labels: area/truenas

fix: wrong dir dummy
  truenas/undeploy.sh
Labels: area/truenas

fix: wrong dir dummy
  truenas/undeploy.sh
Labels: area/truenas

fix config
  truenas/stacks/03-meshcentral/config/meshcentral.json
Labels: area/truenas

fix config
  truenas/stacks/03-meshcentral/config/meshcentral.json
Labels: area/truenas

chore: add TZ to docker
  truenas/stacks/01-traefik/docker-compose.yml
  truenas/stacks/03-meshcentral/docker-compose.yml
  truenas/stacks/04-netboot/docker-compose.yml
  truenas/stacks/05-opconnect/docker-compose.yml
  truenas/stacks/06-exporters/docker-compose.yml
  truenas/stacks/07-cameras/docker-compose.yml
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

chore: add TZ to docker
  truenas/stacks/01-traefik/docker-compose.yml
  truenas/stacks/03-meshcentral/docker-compose.yml
  truenas/stacks/04-netboot/docker-compose.yml
  truenas/stacks/05-opconnect/docker-compose.yml
  truenas/stacks/06-exporters/docker-compose.yml
  truenas/stacks/07-cameras/docker-compose.yml
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

fix: a straggler
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix: a straggler
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

no
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

no
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix: can't do it in alpine without tzdata
  truenas/stacks/04-netboot/docker-compose.yml
  truenas/stacks/06-exporters/docker-compose.yml
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix: can't do it in alpine without tzdata
  truenas/stacks/04-netboot/docker-compose.yml
  truenas/stacks/06-exporters/docker-compose.yml
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

chore: eh, debug time
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

chore: eh, debug time
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: v3.2 has problems
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: v3.2 has problems
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: we don't need this anymore
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: we don't need this anymore
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

don't upgrade traefik
  .github/renovate/allowedVersions.json5
Labels: area/github

don't upgrade traefik
  .github/renovate/allowedVersions.json5
Labels: area/github

chore: disable debug
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

chore: disable debug
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: nothing to see here
  .sops.yaml
  kubernetes/talos/bootstrap/talos/talsecret.sops.yaml
Labels: area/kubernetes, cluster/talos

chore: update hooks
  .pre-commit-config.yaml
Labels: none

fix: thos won't change anything i bet..
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: this too won't change anything :(
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: maybe?
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

feat: add metrics to traefik
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas
