Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

fix: envsubst is wreaking havoc
  truenas/stacks/04-netboot/config/nginx.default.conf
  truenas/stacks/04-netboot/docker-compose.yml
Labels: area/truenas

feat: prom v3
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: try and set the proto
  kubernetes/talos/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/talos

Revert "fix: try and set the proto"
  kubernetes/talos/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/talos

Revert "feat: prom v3"
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

chore: switch to gbe for now
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

feat: switch immich to SSD
  kubernetes/talos/apps/selfhosted/immich/app/pvc.yaml
Labels: area/kubernetes, cluster/talos

Revert "feat(helm)!: Update chart snapshot-controller ( 3.0.6 → 4.0.0 ) (#2937)"
  kubernetes/talos/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

chore: archive minecraft for now
  archive/minecraft/app/externalsecret.yaml
  archive/minecraft/app/helmrelease.yaml
  archive/minecraft/app/kustomization.yaml
  archive/minecraft/ks.yaml
Labels: none

fix: yaskfile cnpg check
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfiles

fix: we won't have cnpg migrating now
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfiles

feat: disable init_on_alloc/init_on_free
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

chore: remove junk
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

chore: back to 10G
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

chore: install prom CRDs independently of KPS
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/talos

add some options
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: this is invalid
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: dragonflydb doesn't send prom proto in headers
  kubernetes/talos/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/talos

i915 is a driver module now
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: disable for now
  kubernetes/talos/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: adjust taskfile
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfiles

fix: why WHY WHY WOULD YOU DO THIS??
  kubernetes/talos/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/talos/apps/database/dragonfly/cluster/podmonitor.yaml
Labels: area/kubernetes, cluster/talos

chore: switch to 1G
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

chore: change to CX3 now
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: probably broken spegel cri config
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: disable kubernetes discovery for now :(
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

chore: change eth port again, for the last time
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

feat: refresh prom configs
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/config/alertmanager.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/haproxy.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/speedtest-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/traefik.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/talos

feat: refresh prom configs (#2982)
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/config/alertmanager.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/haproxy.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/minio.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/speedtest-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/traefik.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes, cluster/talos

fix: sloppypasta
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

fix: still getting the gripes of this
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

fix: let's get to something workable
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

fix: or how about you don't bother us with bullshit
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

chore: reduce defaults
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

don't spy on me plz
  kubernetes/talos/apps/media/navidrome/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: minor tweaks to exporters
  truenas/stacks/06-exporters/docker-compose.yml
Labels: area/truenas

fix: wrong path
  truenas/stacks/06-exporters/docker-compose.yml
Labels: area/truenas

fix: typo
  truenas/stacks/06-exporters/docker-compose.yml
Labels: area/truenas

fix: don't collect junk data
  truenas/stacks/06-exporters/docker-compose.yml
Labels: area/truenas

feat: target both domains
  kubernetes/talos/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*
