Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

fix path
  kubernetes/talos/apps/downloads/bazarr/ks.yaml
  kubernetes/talos/apps/downloads/lidarr/ks.yaml
  kubernetes/talos/apps/downloads/qbittorrent/ks.yaml
  kubernetes/talos/apps/downloads/radarr/ks.yaml
  kubernetes/talos/apps/downloads/sonarr/ks.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/talos/apps/selfhosted/navidrome/ks.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes, cluster/talos

fix apiversions
  kubernetes/talos/components/pvc/kustomization.yaml
  kubernetes/talos/components/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/talos

nextcloud too
  kubernetes/talos/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
Labels: area/kubernetes, cluster/talos

Feat/components (#3119)
  kubernetes/talos/apps/downloads/bazarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/bazarr/ks.yaml
  kubernetes/talos/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/lidarr/ks.yaml
  kubernetes/talos/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/talos/apps/downloads/qbittorrent/ks.yaml
  kubernetes/talos/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/radarr/ks.yaml
  kubernetes/talos/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/sonarr/ks.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/talos/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/navidrome/ks.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
  kubernetes/talos/components/pvc/kustomization.yaml
  kubernetes/talos/components/pvc/pvc.yaml
  kubernetes/talos/components/volsync/kustomization.yaml
  kubernetes/talos/components/volsync/minio/externalsecret.yaml
  kubernetes/talos/components/volsync/minio/kustomization.yaml
  kubernetes/talos/components/volsync/minio/replicationdestination.yaml
  kubernetes/talos/components/volsync/minio/replicationsource.yaml
  kubernetes/talos/components/volsync/pvc.yaml
  kubernetes/talos/templates/pvc/kustomization.yaml
  kubernetes/talos/templates/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/talos

feat: add namespace component
  kubernetes/talos/apps/default/kustomization.yaml
  kubernetes/talos/components/namespace/kustomization.yaml
  kubernetes/talos/components/namespace/namespace.yaml
Labels: area/kubernetes, cluster/talos

feat: use namespace component (#3120)
  kubernetes/talos/apps/default/kustomization.yaml
  kubernetes/talos/components/namespace/kustomization.yaml
  kubernetes/talos/components/namespace/namespace.yaml
Labels: area/kubernetes, cluster/talos

Revert "feat: use namespace component (#3120)"
  kubernetes/talos/apps/default/kustomization.yaml
  kubernetes/talos/apps/default/namespace.yaml
  kubernetes/talos/components/namespace/kustomization.yaml
Labels: area/kubernetes, cluster/talos

feat: try namespace component
  kubernetes/talos/apps/default/kustomization.yaml
  kubernetes/talos/components/namespace/kustomization.yaml
  kubernetes/talos/components/namespace/namespace.yaml
Labels: area/kubernetes, cluster/talos

does it make a difference?
  kubernetes/talos/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/talos

chore(cert-manager): LE no longer needs email
  kubernetes/talos/apps/network/cert-manager/issuers/clusterissuer.yaml
Labels: area/kubernetes, cluster/talos

feat: move to flux-operator and rework bootstrap
  kubernetes/talos/apps/flux-system/add-ons/kustomization.yaml
  kubernetes/talos/apps/flux-system/add-ons/monitoring/podmonitor.yaml
  kubernetes/talos/apps/flux-system/add-ons/monitoring/prometheusrule.yaml
  kubernetes/talos/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/talos/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/talos/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/talos/apps/flux-system/flux-operator/app/values.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/kustomization.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/webhooks/ingress.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/webhooks/kustomization.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/talos/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/talos/apps/flux-system/flux-operator/ks.yaml
  kubernetes/talos/bootstrap/apps/bootstrap.env
  kubernetes/talos/bootstrap/apps/helmfile.yaml
  kubernetes/talos/bootstrap/apps/templates/resources.yaml.j2
  kubernetes/talos/bootstrap/crds/kustomization.yaml
  kubernetes/talos/bootstrap/crds/transformers.yaml
  kubernetes/talos/bootstrap/flux/age-key.sops.yaml
  kubernetes/talos/bootstrap/flux/kustomization.yaml
  kubernetes/talos/bootstrap/talos/helmfile.yaml
Labels: area/kubernetes, cluster/talos

fix comment
  kubernetes/talos/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes, cluster/talos

don't prune anything
  kubernetes/talos/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/talos

add taskfiles
  .envrc
  .taskfiles/bootstrap/Taskfile.yaml
  Brewfile
  Taskfile.yml
  minijinja.toml
Labels: area/taskfiles, area/talos

remove cluster-secrets
  kubernetes/talos/flux/cluster-meta/settings/cluster-secrets.sops.yaml
  kubernetes/talos/flux/cluster-meta/settings/kustomization.yaml
  kubernetes/talos/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/talos

remove flux bootstrap
  .taskfiles/flux/Taskfile.yaml
Labels: area/taskfiles

remove sops from apps
  kubernetes/talos/apps/security/external-secrets/onepassword/kustomization.yaml
  kubernetes/talos/apps/security/external-secrets/onepassword/onepassword-secret.sops.yaml
  kubernetes/talos/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes, cluster/talos

fix(bootstrap): wrong path depth
  kubernetes/talos/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes, cluster/talos

uncomment everything
  kubernetes/talos/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-instance): wrong patch
  kubernetes/talos/apps/flux-system/flux-operator/instance/values.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-instance): adjust gitrepo
  kubernetes/talos/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/talos

fix(cluster-meta): fix path
  kubernetes/talos/flux/cluster/cluster.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-instance): fix webhook receiver
  kubernetes/talos/apps/flux-system/flux-operator/instance/github/webhooks/receiver.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-operator): how bout you actually mention it?
  kubernetes/talos/apps/flux-system/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-operator): fix gitrepo
  kubernetes/talos/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes, cluster/talos

fix(talos-operator): fix ks paths
  kubernetes/talos/apps/flux-system/flux-operator/ks.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-operator): add helm repo to flux
  kubernetes/talos/flux/cluster-meta/repositories/helm/controlplaneio.yaml
  kubernetes/talos/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix(flux-operator): how many times must i fail?
  kubernetes/talos/flux/cluster-meta/repositories/helm/controlplaneio.yaml
Labels: area/kubernetes, cluster/talos

fix component paths
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes

fix flux-diff
  .github/workflows/flux-diff.yaml
Labels: area/github

adjust paths in flux and bootstrap
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

adjust components
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes

adjust pre-pull wf
  .github/workflows/pre-pull-images.yaml
Labels: area/github

taskfile updates
  .taskfiles/talos/Taskfile.yaml
  Taskfile.yml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/taskfiles, area/talos, area/kubernetes

this is useless now, so make it fine for the next one
  .github/workflows/flux-diff.yaml
Labels: area/github

fix flux-diff for now
  .github/workflows/flux-diff.yaml
Labels: area/github

fixes
  .ci/actionlint/actionlint.yml
  .github/workflows/flux-diff.yaml
Labels: area/github

update taskfiles
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfiles

adjust sops settings
  .sops.yaml
Labels: none

more fixes
  .github/workflows/pre-pull-images.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*
