Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(talos): sysfs tweaks
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix(renovate): see meeee
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
Labels: area/kubernetes

Revert "feat(container)!: Update image ghcr.io/bjw-s-labs/helm/app-template ( 3.7.3 → 4.0.1 ) (#3517)"
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

feat(cilium): adjust kernel lockdown
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fixes
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): update automerge
  .github/renovate/autoMerge.json5
Labels: area/github

fix(renovate): don't bother me
  .github/renovate/autoMerge.json5
Labels: area/github

feat: add romm
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/externalsecret.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/kustomization.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

feat: add romm (#3525)
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/externalsecret.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/kustomization.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
Labels: area/kubernetes

fix(romm): disable csrf for now?
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

fix: normalize volsync/pvc components
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
  kubernetes/components/volsync/minio/replicationdestination.yaml
  kubernetes/components/volsync/minio/replicationsource.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

fix: normalize volsync/pvc components (#3526)
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
  kubernetes/components/volsync/minio/replicationdestination.yaml
  kubernetes/components/volsync/minio/replicationsource.yaml
  kubernetes/components/volsync/pvc.yaml
Labels: area/kubernetes

fix(gha): update action runner
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

chore: optimize bgp config for unifi
  kubernetes/apps/kube-system/cilium/config/README.md
Labels: area/kubernetes

feat(immich): migrate from vectors (part 1)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

target live db, not backup
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
Labels: area/kubernetes

feat(immich): migrate from vectors (part 1) (#3534)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix: typo
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
Labels: area/kubernetes

chore(immich): migrate to vectorchord (part 2 electric bogaloo)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
Labels: area/kubernetes

Revert "chore(immich): migrate to vectorchord (part 2 electric bogaloo)"
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
Labels: area/kubernetes

chore: move to vchord
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich.yaml
Labels: area/kubernetes

chore: delete the mgirate db
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich-migrate.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

chore(immich): postgres 17
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

also backups!
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

sure
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
Labels: area/kubernetes

chore(immich): postgres 17 (#3536)
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix(immich): adjust db resources
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
Labels: area/kubernetes

chore(immich): switch to pg17
  kubernetes/apps/selfhosted/immich/app/externalsecret.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

chore(immich): remove pg16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat: add rbac to helm values
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/rbac.yaml
Labels: area/kubernetes

try homepage too
  kubernetes/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

remove old rbac
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/rbac.yaml
Labels: area/kubernetes

gatus
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/rbac.yaml
Labels: area/kubernetes

feat: add rbac to helm values (#3537)
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/rbac.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/rbac.yaml
Labels: area/kubernetes

chore: refresh CRD urls
  kubernetes/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/ks.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/talos-backup/app/serviceaccount.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
  kubernetes/apps/selfhosted/romm/ks.yaml
Labels: area/kubernetes

chore: move talos SA into SUC chart
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/rbac.yaml
Labels: area/kubernetes

chore: update recyclarr config
  kubernetes/apps/downloads/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

chore(bazaar): refactor tmpfs
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image quay.io/minio/minio ( release.2025-04-22t22-12-26z → release.2025-05-24t17-08-30z ) (#3544)"
  truenas/stacks/02-minio/docker-compose.yml
Labels: area/truenas
