Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*

fix(talos): default service discovery and reboot
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: nginx is being fussy
  kubernetes/talos/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/talos/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: add atuin
  kubernetes/talos/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/atuin/ks.yaml
Labels: area/kubernetes, cluster/talos

fix domain
  kubernetes/talos/apps/selfhosted/atuin/ks.yaml
Labels: area/kubernetes, cluster/talos

fix db uri
  kubernetes/talos/apps/selfhosted/atuin/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

enable
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

prettier
  kubernetes/talos/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

Feat/atuin (#3015)
  kubernetes/talos/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/atuin/ks.yaml
  kubernetes/talos/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix(atuin): fix externalsecret
  kubernetes/talos/apps/selfhosted/atuin/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

fix(atuin): fix wrong image ver
  kubernetes/talos/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(intel-device-plugin): only enable gpu device
  kubernetes/talos/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(intel-device-plugin): tell flux to handle CRDs
  kubernetes/talos/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

chore: prettier
  kubernetes/talos/apps/kube-system/cilium/config/README.md
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kromgo/app/config/config.yaml
  kubernetes/talos/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

chore: cleanup loki stuff
  infrastructure/terraform/minio/loki.tf
Labels: area/terraform

chore: cut down on log i/o
  truenas/stacks/07-cameras/config/go2rtc.yaml
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

Revert "fix(container): update image ghcr.io/gethomepage/homepage ( v0.10.7 → v0.10.8 ) (#3026)"
  kubernetes/talos/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: add gha ooperator
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/namespace.yaml
Labels: area/kubernetes, cluster/talos

fix ks
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
Labels: area/kubernetes, cluster/talos

add runners
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
Labels: area/kubernetes, cluster/talos

fixes
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

add helm repo
  kubernetes/talos/flux/repositories/helm/actions-runner-controller.yaml
Labels: area/kubernetes, cluster/talos

fix
  kubernetes/talos/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos

don't engage yet
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix depends on
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes, cluster/talos

engage
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes, cluster/talos

use hostpath
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: add gha ooperator (#3031)
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/externalsecret.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/operator/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/rbac.yaml
  kubernetes/talos/apps/actions-runner-system/kustomization.yaml
  kubernetes/talos/apps/actions-runner-system/namespace.yaml
  kubernetes/talos/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/talos/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: depends
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: allow gha elevation
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: don't do this for now
  kubernetes/talos/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

chore: fix naming and NS
  kubernetes/talos/apps/github/arc/ks.yaml
  kubernetes/talos/apps/github/arc/operator/externalsecret.yaml
  kubernetes/talos/apps/github/arc/operator/helmrelease.yaml
  kubernetes/talos/apps/github/arc/operator/kustomization.yaml
  kubernetes/talos/apps/github/arc/runners/helmrelease.yaml
  kubernetes/talos/apps/github/arc/runners/kustomization.yaml
  kubernetes/talos/apps/github/arc/runners/rbac.yaml
  kubernetes/talos/apps/github/kustomization.yaml
  kubernetes/talos/apps/github/namespace.yaml
Labels: area/kubernetes, cluster/talos

fix: secret name
  kubernetes/talos/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: re-add rbac to gha
  kubernetes/talos/apps/github/arc/runners/helmrelease.yaml
  kubernetes/talos/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes, cluster/talos

fix: adjust ns
  kubernetes/talos/apps/github/arc/runners/rbac.yaml
Labels: area/kubernetes, cluster/talos

fix: wrong SA?
  kubernetes/talos/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat: add pre-pull wf
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix: copypasta fail
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Revert "fix(container): update image ghcr.io/gethomepage/homepage ( v0.10.7 → v0.10.9 ) (#3028)"
  kubernetes/talos/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat(gh): add our own CRD schemas
  .github/workflows/schemas.yaml
Labels: area/github

fix(gh): run on our worker
  .github/workflows/schemas.yaml
Labels: area/github
