Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore(traefik): disable traffic logging
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

chore(grafana): remove nginx dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(kyverno): retire
  archive/kyverno/app/helmrelease.yaml
  archive/kyverno/app/kustomization.yaml
  archive/kyverno/ks.yaml
  archive/kyverno/policies/httproute-external-dns.yaml
  archive/kyverno/policies/ingress-authentik-annotation.yaml
  archive/kyverno/policies/ingress-cert-manager-annotation.yaml
  archive/kyverno/policies/ingress-external-dns-annotation.yaml
  archive/kyverno/policies/kustomization.yaml
  kubernetes/apps/kyverno/kustomization.yaml
Labels: area/kubernetes

chore: don't need minijinja anymore
  .envrc
  .minijinja.toml
Labels: none

feat(vaultwarden): bump
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): set authentik widget version
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

ok ok quote it then
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

chore(authentik): why is this still here?
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(authentik): do it properly now
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

use builtin dashboard
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

enable it tho
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
Labels: area/kubernetes

fix(dragonfly): disable monitors for now
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/kubernetes

Enable podmonitor
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/kubernetes

chore: renovate changelogs
  .github/renovate.json5
  .github/renovate/changelogs.json5
Labels: area/github

fix
  kubernetes/apps/database/dragonfly/operator/kustomization.yaml
Labels: area/kubernetes

fix(envoy): quick fix for the timeout madness until a more permanent solution is found
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(envoy): quick fix for the timeout madness until a more permanent solution is found"
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(envoy): modify timeouts on manual httproutes
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
Labels: area/kubernetes

fix(envoy): fix timeouts on app-template
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
Labels: area/kubernetes

like that?
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
Labels: area/kubernetes

now add timeouts
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
Labels: area/kubernetes

more
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

fix(envoy): fix timeouts on app-template (#3926)
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

fix(navidrome): more transcoding cache!
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

fix(envoy): fix securitypolicy cookies
  kubernetes/components/authentik-proxy/securitypolicy.yaml
Labels: area/kubernetes

feat(navidrome): separate cache pvc
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/apps/selfhosted/navidrome/app/pvc.yaml
Labels: area/kubernetes

how bout now?
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

give it a name
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

remove the manual one
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/apps/selfhosted/navidrome/app/pvc.yaml
Labels: area/kubernetes

rename plz?
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

ok i gotchu
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

last try
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

last touches
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

feat(navidrome): separate cache pvc (#3929)
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

fix: renovate groups
  .github/renovate/groups.json5
Labels: area/github

fix: omg bbq
  .github/renovate/groups.json5
Labels: area/github

can i do this?
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
Labels: area/kubernetes

no, like that
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
Labels: area/kubernetes

no i can't
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
Labels: area/kubernetes

feat(opencloud): add
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/oauth2_application/main.tofu
  infrastructure/terraform/authentik/oauth2_application/variables.tofu
  infrastructure/terraform/minio/opencloud.tofu
  kubernetes/apps/selfhosted/opencloud/app/externalsecret.yaml
  kubernetes/apps/selfhosted/opencloud/app/gatus.yaml
  kubernetes/apps/selfhosted/opencloud/app/helmrelease.yaml
  kubernetes/apps/selfhosted/opencloud/app/kustomization.yaml
  kubernetes/apps/selfhosted/opencloud/ks.yaml
Labels: area/terraform, area/kubernetes
