Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

feat(kubelet-csr-approver): move to official oci chat
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

chore(cloudflare): downgrade to a non-retarded provider version
  .github/renovate/allowedVersions.json5
  infrastructure/terraform/cloudflare/main.tofu
  infrastructure/terraform/cloudflare/records.tofu
Labels: area/terraform, area/github

chore(cloudflare): downgrade to a non-retarded provider version (#3677)
  .github/renovate/allowedVersions.json5
  infrastructure/terraform/cloudflare/main.tofu
  infrastructure/terraform/cloudflare/records.tofu
Labels: area/terraform, area/github

chore(cloudflare): simplify zone lookup
  infrastructure/terraform/cloudflare/records.tofu
Labels: area/terraform

fix(ingress): unset proxy buffers
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(ingress): unset proxy buffers"
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(container): update image ghcr.io/home-operations/charts-mirror/ingress-nginx ( 4.12.3 → 4.13.0 ) (#3679)"
  kubernetes/flux/cluster-meta/repositories/oci/ingress-nginx.yaml
Labels: area/kubernetes

adjust config
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

fix(ingress): does the order matter?
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

feat: add caddy as a test
  truenas/stacks/07-caddy/.env
  truenas/stacks/07-caddy/config/Caddyfile
  truenas/stacks/07-caddy/docker-compose.yml
  truenas/stacks/07-caddy/secrets.sops.env
Labels: area/truenas

no more version
  truenas/stacks/07-caddy/docker-compose.yml
Labels: area/truenas

fix
  truenas/stacks/07-caddy/docker-compose.yml
Labels: area/truenas

changes
  truenas/stacks/07-caddy/config/Caddyfile
  truenas/stacks/07-caddy/docker-compose.yml
Labels: area/truenas

was this it all along?
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

try this
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

try ipvlan
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

ok try it that way
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix(traefik): using macvlan on top of a bridge is not kosher. Switch to ipvlan
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

chore(dcsi): enable fsck on mount
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
Labels: area/kubernetes

chore(dcsi): enable fsck on mount (#3696)
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
Labels: area/kubernetes

feat(dcsi): enable fsck
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
Labels: area/kubernetes

confused
  kubernetes/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
Labels: area/kubernetes

feat(dcsi): enable fsck (#3697)
  kubernetes/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
Labels: area/kubernetes

enable hash APIs
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

chore(romm): remove limits
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

feat(cnpg): install barman-cloud plugin
  kubernetes/apps/database/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
Labels: area/kubernetes

feat(cnpg): install barman-cloud plugin (#3738)
  kubernetes/apps/database/cloudnative-pg/barman-cloud/certificate.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/rbac.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/objectstore.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

feat(cnpg): switch app db to barman cloud
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

fix: disable bootstrap for now?
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
Labels: area/kubernetes

feat(cnpg): migrate immich db to barman-cloud plugin
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

chore(immich): update upload location
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

chore(immich): see if we can do without
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

chore(immich): cleanup
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

feat(navidrome): update config
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

chore(eso): disable op-sdk provider for now
  kubernetes/apps/security/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
Labels: area/kubernetes

feat(grafana): add flux-operator dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(speedtest): every 1h
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/speedtest-exporter.yaml
Labels: area/kubernetes

chore(authentik): remove deprecated option
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

chore(authentik): disable debug logging
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
