Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github

feat(container): update immich to v1.69.0
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

unfuck cnpg
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

unfuck cnpg
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

Enable gvtd
  infrastructure/ansible/playbooks/proxmox-setup.yml
  infrastructure/talos/apply.sh
  infrastructure/talos/talconfig.yaml
Labels: none

Enable gvtd
  infrastructure/ansible/playbooks/proxmox-setup.yml
  infrastructure/talos/apply.sh
  infrastructure/talos/talconfig.yaml
Labels: none

Add node-feature-discovery
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

Don't forget the helm repos
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

Add intel-device-plugin
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/kubernetes

feat: intel gpu plugins (#1006)
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

feat: intel gpu plugins (#1006)
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/flux/repositories/helm/intel.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
Labels: area/kubernetes

fix typo
  kubernetes/apps/kube-system/intel-device-plugin/app/operator/helmrelease.yaml
Labels: area/kubernetes

fix: talos has i915 builtin, not as a module
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/nodefeaturerule.yaml
Labels: area/kubernetes

fix: talos has i915 builtin, not as a module
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/gpu/nodefeaturerule.yaml
Labels: area/kubernetes

feat(helm): update chart kube-prometheus-stack to 48.2.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr to v1.7.4.3769
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.5
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

enable some prom features
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

enable some prom features
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

revamp grafana dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

revamp grafana dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

enable etcd monitoring, DO NOT enable the qemu-guest-agent addon
  infrastructure/talos/talconfig.yaml
Labels: none

enable etcd monitoring, DO NOT enable the qemu-guest-agent addon
  infrastructure/talos/talconfig.yaml
Labels: none

enable prometheus etcd scraping
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

enable prometheus etcd scraping
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.9.0
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.6
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.11.0
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart kube-prometheus-stack to 48.2.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.33
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

optimize ingress-nginx admissionwebhook
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

optimize ingress-nginx admissionwebhook
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

less lines
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

less lines
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.14.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.3
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.11.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
Labels: none

fix(container): update image redis to v17.14.2
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.9.1
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
Labels: area/kubernetes
