Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.578
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich to v1.70.0
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 48.2.2
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

cleanup
  kubernetes/apps/database/cloudnative-pg/cluster/dashboard.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

cleanup
  kubernetes/apps/database/cloudnative-pg/cluster/dashboard.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

fix(container): update image itzg/minecraft-server to v2023.7.1
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.18.2
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform minio to 1.17.0
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

bump cilium to 1.14.0
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

bump cilium to 1.14.0
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.0
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

bump talos to 1.4.7
  infrastructure/talos/talconfig.yaml
Labels: none

bump talos to 1.4.7
  infrastructure/talos/talconfig.yaml
Labels: none

fix(helm): update chart kyverno to 3.0.3
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.20
  kubernetes/apps/fileserver/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

chore: renovate autodiscover repo
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

chore: renovate autodiscover repo
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update chart democratic-csi to 0.14.1
  kubernetes/apps/storage/democratic-csi/nfs/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.3
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich to v1.71.0
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(terraform): update terraform minio to 1.17.1
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(helm): update chart kyverno to 3.0.4
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.10.0
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update community.general to 7.2.1
  infrastructure/ansible/requirements.yml
Labels: none

fix(container): update image thanos to v12.10.1
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 48.2.3
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.4
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.58.7
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.34
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v17.14.5
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.27
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart nextcloud to 3.5.21
  kubernetes/apps/fileserver/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart metrics-server to 3.11.0
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/unpoller/unpoller to v2.8.0
  kubernetes/apps/monitor/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.2
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.2
  .pre-commit-config.yaml
Labels: none

feat(helm): update chart kube-prometheus-stack to 48.3.0
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update pre-commit hook lucas-c/pre-commit-hooks to v1.5.3
  .pre-commit-config.yaml
Labels: none

fix(terraform): update terraform minio to 1.17.2
  infrastructure/terraform/minio/.terraform.lock.hcl
  infrastructure/terraform/minio/main.tf
Labels: none

fix(helm): update chart kube-prometheus-stack to 48.3.1
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
