Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

fix: careful!
  kubernetes/apps/storage/democratic-csi/iscsi/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/nfs/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/test/ocirepository.yaml
Labels: area/kubernetes

misc changes
  kubernetes/apps/database/dragonfly/cluster/gatus.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
Labels: area/kubernetes

try one app for app-template
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/app/kustomization.yaml
  kubernetes/apps/default/homepage/app/ocirepository.yaml
Labels: area/kubernetes

next NS
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
  kubernetes/apps/default/whoami/app/ocirepository.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/kustomization.yaml
  kubernetes/apps/downloads/bazarr/app/ocirepository.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/apps/downloads/lidarr/app/ocirepository.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/apps/downloads/prowlarr/app/ocirepository.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/ocirepository.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/apps/downloads/radarr/app/ocirepository.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/kustomization.yaml
  kubernetes/apps/downloads/recyclarr/app/ocirepository.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/apps/downloads/sonarr/app/ocirepository.yaml
Labels: area/kubernetes

more
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/ocirepository.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/ocirepository.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/kustomization.yaml
  kubernetes/apps/monitor/kromgo/app/ocirepository.yaml
  kubernetes/apps/monitor/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/nut-exporter/app/kustomization.yaml
  kubernetes/apps/monitor/nut-exporter/app/ocirepository.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/kustomization.yaml
  kubernetes/apps/monitor/unpoller/app/ocirepository.yaml
Labels: area/kubernetes

that should be all
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/kustomization.yaml
  kubernetes/apps/security/vaultwarden/app/ocirepository.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/kustomization.yaml
  kubernetes/apps/selfhosted/atuin/app/ocirepository.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/kustomization.yaml
  kubernetes/apps/selfhosted/convertx/app/ocirepository.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/kustomization.yaml
  kubernetes/apps/selfhosted/go2rtc/app/ocirepository.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/ocirepository.yaml
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/selfhosted/it-tools/app/kustomization.yaml
  kubernetes/apps/selfhosted/it-tools/app/ocirepository.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/apps/selfhosted/navidrome/app/ocirepository.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/kustomization.yaml
  kubernetes/apps/selfhosted/ocis/app/ocirepository.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/ocirepository.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/ocirepository.yaml
Labels: area/kubernetes

final touch - get rid of cluster-meta
  kubernetes/flux/cluster-meta/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/git/.gitkeep
  kubernetes/flux/cluster-meta/repositories/helm/.gitkeep
  kubernetes/flux/cluster-meta/repositories/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/oci/.gitkeep
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
  kubernetes/flux/cluster-meta/repositories/oci/kustomization.yaml
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

chore: tweak renovate
  .renovate/autoMerge.json5
  .renovate/override.json5
Labels: none

update json schemas too
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/nut-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(it-tools): move to a forked image
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): wrong grouping for talos
  .renovate/groups.json5
Labels: none

will this fix it?
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

chore(postgres): update minor version
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
Labels: area/kubernetes

fix: oops, not this one
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
Labels: area/kubernetes

chore(renovate): add envoy changelog
  .renovate/changelogs.json5
Labels: none

chore(renovate): we like our changelogs
  .renovate/changelogs.json5
Labels: none

fix(renovate): changelog for oidcwarden
  .renovate/changelogs.json5
Labels: none

chore: changelog for it-tools
  .renovate/changelogs.json5
Labels: none

chore(renovate): update changelogs
  .renovate/changelogs.json5
Labels: none

fix(renovate): fix failpasta
  .renovate/changelogs.json5
Labels: none

chore(snapshot-controller): remove old values
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

test
  .vscode/extensions.json
Labels: none

fix(talos): fix config for talhelper
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix missing arg in task
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfiles

fix(renovate): oops
  .renovate/changelogs.json5
Labels: none

feat(renovate): changelog for thanos
  .renovate/changelogs.json5
Labels: none

chore(renovate): authentik changelog
  .renovate/changelogs.json5
Labels: none

no need for redis stuff
  kubernetes/apps/security/authentik/app/externalsecret.yaml
Labels: area/kubernetes

fix: missing stuff
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
Labels: area/kubernetes

fix(gatus): don't monitor forward-auth apps
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

feat(minecraft): update stuff
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

fix(minecraft): like this?
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

feat(minecraft): we can safely update now
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

like this?
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

test(dcsi): test out 25.04 compat
  kubernetes/apps/storage/democratic-csi/iscsi-test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/ks.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/ocirepository.yaml
Labels: area/kubernetes

adjust nvmeof
  kubernetes/apps/storage/democratic-csi/nvmeof-test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/helmrelease.yaml
Labels: area/kubernetes

typo
  kubernetes/apps/storage/democratic-csi/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/storage/democratic-csi/iscsi-test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/helmrelease.yaml
Labels: area/kubernetes

test(dcsi): test out 25.10 compat (#4077)
  kubernetes/apps/storage/democratic-csi/iscsi-test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/iscsi-test/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/ks.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/ocirepository.yaml
Labels: area/kubernetes

fix(dcsi): fix image tags hopefully
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof-test/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
