Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

feat(cnpg): use upstream barman-cloud chart (#3981)
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/dashboard/ocirepository.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/operator/ocirepository.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
Labels: area/kubernetes

chore(cnpg): re-enable backups
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

feat(gatus): use sidecar
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

start moving configs over
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/apps/monitor/gatus/app/config/config.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

more
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

feat(gatus): use sidecar (#3983)
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/database/dragonfly/cluster/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/apps/monitor/gatus/app/config/config.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

fix(gatus): fix por
  kubernetes/apps/monitor/gatus/app/config/config.yaml
Labels: area/kubernetes

chore(gatus): adjust stuff
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
Labels: area/kubernetes

chore(gatus): add more stuff
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/dragonfly/cluster/cluster.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
Labels: area/kubernetes

feat(gatus): make ui nicer
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/monitor/gatus/app/config/config.yaml
Labels: area/kubernetes

fix(gatus): this should work but it doesn't and I don't have time to fix it now
  kubernetes/apps/network/envoy-gateway/config/external.yaml
Labels: area/kubernetes

chore(gatus): cleanup
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/apps/games/minecraft/app/httproute.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/hass-proxy/app/gatus.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/kustomization.yaml
  kubernetes/apps/security/authentik/app/gatus.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/gatus.yaml
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/ocis/app/gatus.yaml
  kubernetes/apps/selfhosted/ocis/app/kustomization.yaml
  kubernetes/apps/selfhosted/paperless/app/gatus.yaml
  kubernetes/apps/selfhosted/paperless/app/kustomization.yaml
Labels: area/kubernetes

chore(gatus): last adjustement
  kubernetes/apps/monitor/gatus/app/config/config.yaml
Labels: area/kubernetes

feat(authentik): don't monitor the proxy
  infrastructure/terraform/authentik/system.tofu
Labels: area/terraform

prettier
  infrastructure/terraform/authentik/oauth2_application/variables.tofu
  infrastructure/terraform/authentik/system.tofu
Labels: area/terraform

chore(renovate): refresh config
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
  .github/renovate/managers.json5
  .github/renovate/packageRules.json5
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/changelogs.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/override.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/github

fix
  .renovate/autoMerge.json5
  .renovate/groups.json5
Labels: none

more prettier
  .renovaterc.json5
Labels: none

chore(renovate): refresh config (#3989)
  .github/renovate.json5
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/disabledDatasources.json5
  .github/renovate/groups.json5
  .github/renovate/managers.json5
  .github/renovate/packageRules.json5
  .github/workflows/renovate.yaml
  .renovate/autoMerge.json5
  .renovate/changelogs.json5
  .renovate/customManagers.json5
  .renovate/grafanaDashboards.json5
  .renovate/groups.json5
  .renovate/labels.json5
  .renovate/override.json5
  .renovate/semanticCommits.json5
  .renovaterc.json5
Labels: area/github

feat(scrutiny): add
  truenas/stacks/07-scrutiny/.env
  truenas/stacks/07-scrutiny/config/meshcentral.json
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

feat(scrutiny): add (#3991)
  truenas/stacks/07-scrutiny/.env
  truenas/stacks/07-scrutiny/config/meshcentral.json
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

fix: don't tag
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

fix(scrutiny): fix nvme devices
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

feat(scrutiny): try to enable notifications in scrutiny
  truenas/stacks/07-scrutiny/docker-compose.yml
  truenas/stacks/07-scrutiny/secrets.sops.env
Labels: area/truenas

fix(scrutiny): we have to do it this way
  truenas/stacks/07-scrutiny/docker-compose.yml
  truenas/stacks/07-scrutiny/secrets.sops.env
Labels: area/truenas

fix(scrutiny): fix the secret
  truenas/stacks/07-scrutiny/secrets.sops.env
Labels: area/truenas

feat(scrutiny): run more often
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

not that often tho
  truenas/stacks/07-scrutiny/docker-compose.yml
Labels: area/truenas

chore: modify main flux KS
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

chore: modify main flux KS (#3997)
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

fix(flux): ah fuck, i forgot
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

feat: remove global-vars
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/github/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/bgpconfig.yaml
  kubernetes/apps/kube-system/cilium/config/l2config.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
  kubernetes/components/global-vars/kustomization.yaml
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

here too
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/storage/kustomization.yaml
Labels: area/kubernetes

feat: remove global-vars (#3998)
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/github/kustomization.yaml
  kubernetes/apps/kube-system/cilium/config/bgpconfig.yaml
  kubernetes/apps/kube-system/cilium/config/l2config.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/storage/kustomization.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
  kubernetes/components/global-vars/kustomization.yaml
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

feat(flux): add the fun stuff now
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

chore: bring back op-connect to the cluster
  kubernetes/apps/security/onepassword-connect/app/clustersecretstore.yaml
  kubernetes/apps/security/onepassword-connect/app/externalsecret.yaml
  kubernetes/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/security/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/security/onepassword-connect/ks.yaml
  kubernetes/bootstrap/helmfile.d/templates/secrets.yaml.tpl
  truenas/stacks/05-opconnect/.env
  truenas/stacks/05-opconnect/docker-compose.yml
  truenas/stacks/05-opconnect/secrets.sops.env
Labels: area/kubernetes, area/truenas

common L
  kubernetes/apps/security/kustomization.yaml
Labels: area/kubernetes

chore: bring back op-connect to the cluster (#4002)
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/onepassword-connect/app/clustersecretstore.yaml
  kubernetes/apps/security/onepassword-connect/app/externalsecret.yaml
  kubernetes/apps/security/onepassword-connect/app/helmrelease.yaml
  kubernetes/apps/security/onepassword-connect/app/kustomization.yaml
  kubernetes/apps/security/onepassword-connect/app/ocirepository.yaml
  kubernetes/apps/security/onepassword-connect/ks.yaml
  kubernetes/bootstrap/helmfile.d/templates/secrets.yaml.tpl
  truenas/stacks/05-opconnect/.env
  truenas/stacks/05-opconnect/docker-compose.yml
  truenas/stacks/05-opconnect/secrets.sops.env
Labels: area/kubernetes, area/truenas

chore(envoy): reclaim the external svc ip
  kubernetes/apps/network/envoy-gateway/config/external.yaml
Labels: area/kubernetes

chore: get rid of cluster-meta
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/cloudflare/ocirepository.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/nfs/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nfs/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/nfs/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/ocirepository.yaml
  kubernetes/apps/storage/democratic-csi/test/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/test/kustomization.yaml
  kubernetes/apps/storage/democratic-csi/test/ocirepository.yaml
  kubernetes/flux/cluster-meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes
