Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix: disable healthchecks for now
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes

my renovate config is baaad
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
Labels: area/kubernetes

chore: update renovate groups config
  .github/renovate/groups.json5
Labels: area/github

chore(1password): use ghcr images
  truenas/stacks/05-opconnect/docker-compose.yml
Labels: area/truenas

fix(renovate): ok, that didn't work out
  .github/renovate/groups.json5
Labels: area/github

bump the CRD
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
Labels: area/kubernetes

ok no this isn't working
  .github/renovate/groups.json5
Labels: area/github

fix: no, this isn't working
  .github/renovate/groups.json5
Labels: area/github

chore(barman-cloud): bump
  kubernetes/apps/database/cloudnative-pg/barman-cloud/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/barman-cloud/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

chore(romm): add configfile
  kubernetes/apps/selfhosted/romm/app/config/config.yml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/kustomization.yaml
  kubernetes/apps/selfhosted/romm/app/kustomizeconfig.yaml
Labels: area/kubernetes

Revert "fix(container): update image ghcr.io/rommapp/romm ( 4.1.4 → 4.1.5 ) (#3827)"
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

feat: add envoy gateway controller
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

feat: add envoy gateway controller (#3868)
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
  kubernetes/apps/network/envoy-gateway/app/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
  kubernetes/apps/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

fix(envoy): whoops! fix oci url
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

fix(envoy): fix tag
  kubernetes/apps/network/envoy-gateway/app/ocirepository.yaml
Labels: area/kubernetes

chore: refresh bootstrap procedure
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/app/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-operator/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/app/values.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/apps/flux-system/flux-operator/instance/kustomizeconfig.yaml
  kubernetes/apps/flux-system/flux-operator/instance/ocirepository.yaml
  kubernetes/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/apps/kube-system/cilium/app/crds.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/cilium/app/ocirepository.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/ocirepository.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/values.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/ocirepository.yaml
  kubernetes/apps/kube-system/spegel/app/values.yaml
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
  kubernetes/apps/network/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cert-manager/app/kustomizeconfig.yaml
  kubernetes/apps/network/cert-manager/app/ocirepository.yaml
  kubernetes/apps/network/cert-manager/app/values.yaml
  kubernetes/apps/network/cert-manager/default-certificate/clusterissuer.yaml
  kubernetes/apps/network/cert-manager/default-certificate/externalsecret.yaml
  kubernetes/apps/network/cert-manager/default-certificate/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/apps/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/apps/helmfile.d/templates/values.yaml.gotmpl
Labels: area/kubernetes

prettier..
  kubernetes/bootstrap/apps/helmfile.d/00-crds.yaml
Labels: area/kubernetes

can't use BIG
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes

move flux-instance around
  kubernetes/apps/flux-system/flux-instance/app/github/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/externalsecret.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/receiver.yaml
  kubernetes/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/apps/flux-system/flux-instance/app/ocirepository.yaml
  kubernetes/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/apps/flux-system/flux-instance/ks.yaml
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

fix kca
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/kustomization.yaml
Labels: area/kubernetes

update taskfile and friends
  .taskfiles/bootstrap/Taskfile.yaml
  Brewfile
  kubernetes/bootstrap/apps/bootstrap.env
  kubernetes/bootstrap/apps/helmfile.d/templates/values.yaml.gotmpl
  kubernetes/bootstrap/apps/helmfile.yaml
  kubernetes/bootstrap/helmfile.d/00-crds.yaml
  kubernetes/bootstrap/helmfile.d/01-apps.yaml
  kubernetes/bootstrap/helmfile.d/templates/secrets.yaml.tpl
  kubernetes/bootstrap/helmfile.d/templates/values.yaml.gotmpl
Labels: area/kubernetes, area/taskfiles

fix instance path
  kubernetes/apps/flux-system/flux-instance/ks.yaml
Labels: area/kubernetes

fixup ksm
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/ocirepository.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/kustomization.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

fix(kps): remove obsolete depends
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
Labels: area/kubernetes

feat(envoy): add gateways
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
  kubernetes/apps/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/monitoring.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
Labels: area/kubernetes

enable
  kubernetes/apps/network/envoy-gateway/ks.yaml
Labels: area/kubernetes

feat(envoy): add gateways (#3876)
  kubernetes/apps/network/envoy-gateway/config/envoy.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/envoy-gateway/config/internal.yaml
  kubernetes/apps/network/envoy-gateway/config/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/monitoring.yaml
  kubernetes/apps/network/envoy-gateway/ks.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
Labels: area/kubernetes

fix(envoy): add cilium label
  kubernetes/apps/network/envoy-gateway/config/external.yaml
Labels: area/kubernetes

feat(whoami): test out envoy
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

yoink the ingress object
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

enable httproute for external-dns
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

add kyverno policy
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

let's not do the external part yet
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

feat(whoami): test out envoy (#3877)
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

fix(whoami): fix gatewayclass
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

fix(kyverno): another go at the httproute policy
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
Labels: area/kubernetes

feat(gateway): move forward a step further
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
Labels: area/kubernetes

fix: damn domains..
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
Labels: area/kubernetes

fix(envoy): this is how it works
  kubernetes/apps/kyverno/kyverno/policies/httproute-external-dns.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
Labels: area/kubernetes

feat: move internal ingress to httproute
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes
