Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(gh-arc): fix helm values
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

feat(gha): add dind sidecar
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

feat(gha): add dind sidecar (#3613)
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

fix: how bout this?
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): try running on selfhosted runners
  .github/workflows/renovate.yaml
Labels: area/github

fix(gha): disable tls in dind?
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

fix(gha): roll all of this back
  .github/workflows/renovate.yaml
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/github, area/kubernetes

fix(flux): disable cosign
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
Labels: area/kubernetes

feat(gha): add dind runners
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

feat(gha): add dind runners (#3617)
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

chore: try running renovate on dind
  .github/workflows/renovate.yaml
Labels: area/github

chore: try running renovate on dind
  .github/workflows/renovate.yaml
Labels: area/github

chore: move all workflows to self-hosted runner
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(go2rtc): update config
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/externalsecret.yaml
Labels: area/kubernetes

fix(go2rtc): run audio through ffmpeg
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
Labels: area/kubernetes

fix(go2rtc): use correct stream
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
Labels: area/kubernetes

feat(eso): add 1p SDK css
  kubernetes/apps/security/external-secrets/app/clustersecretstore.yaml
Labels: area/kubernetes

fix(eso): op-sdk eso needs a SA token
  kubernetes/apps/security/external-secrets/app/clustersecretstore.yaml
  kubernetes/bootstrap/apps/bootstrap.env
  kubernetes/bootstrap/apps/templates/resources.yaml.j2
Labels: area/kubernetes

chore(eso): rename the new css
  kubernetes/apps/security/external-secrets/app/clustersecretstore.yaml
Labels: area/kubernetes

chore(vaultwarden): use new css
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
Labels: area/kubernetes

chore(immich): bump vectorchord
  kubernetes/apps/database/cloudnative-pg/cluster/immich-pg17.yaml
Labels: area/kubernetes

Revert "fix(container): update immich ( v1.135.0 → v1.135.1 ) (patch) (#3626)"
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

Revert "fix(container): update immich ( v1.135.0 → v1.135.1 ) (patch) (#3630)"
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

chore(gh-arc): allow more runners now that we run everything
  kubernetes/apps/github/arc/runners/helmrelease.yaml
Labels: area/kubernetes

fix actionlint
  .ci/actionlint/actionlint.yml
Labels: none

pin versions
  .github/workflows/renovate.yaml
Labels: area/github

chore(github): refresh flux-local workflow
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-local.yaml
Labels: area/github

fix(github): fix token keys
  .github/workflows/flux-local.yaml
Labels: area/github

chore(github): update labeler workflows
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
Labels: area/github

chore(github): refresh image pull workflow
  .github/workflows/image-pull.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(github): can't be on dind?
  .github/workflows/image-pull.yaml
Labels: area/github

fix(github): fix wrong node env
  .github/workflows/image-pull.yaml
Labels: area/github

chore(github): refresh megalinter workflow
  .ci/flake8/.flake8
  .ci/jscpd/jscpd.json
  .github/workflows/lint.yaml
Labels: area/github

test: see what it does now
  kubernetes/apps/selfhosted/audiobookshelf/app/externalsecret.yaml
  kubernetes/apps/selfhosted/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/selfhosted/audiobookshelf/app/kustomization.yaml
  kubernetes/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

chore(github): refresh schemas workflow
  .github/workflows/schemas.yaml
Labels: area/github

chore: retire lldpd
  truenas/archive/08-lldpd/docker-compose.yml
Labels: area/truenas

Revert "fix(container): update image ghcr.io/kyverno/charts/kyverno ( 3.4.3 → 3.4.4 ) (#3654)"
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

fix(eso): bump mem limits
  kubernetes/apps/security/external-secrets/app/values.yaml
Labels: area/kubernetes

chore(eso): update values
  kubernetes/apps/security/external-secrets/app/values.yaml
Labels: area/kubernetes

chore(prowlarr): adjust mem limit
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes
