Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

Revert "Move renovate to workflow"
  .github/renovate.json5
  .github/workflows/renovate.yaml
Labels: area/github

Why didn't renovate pick this up? :/
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

Why didn't renovate pick this up? :/
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

bump to stable
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

bump to stable
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
Labels: area/kubernetes

Update flux dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

Update flux dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

additional stuff
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

do not loose stuff on reboot
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

upgrade some resources to current apiversions
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
Labels: area/kubernetes

upgrade some resources to current apiversions
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
Labels: area/kubernetes

forgot the language-server
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
Labels: area/kubernetes

forgot the language-server
  kubernetes/apps/flux-system/add-ons/webhooks/github/receiver.yaml
Labels: area/kubernetes

Bye bye docsis!
  archive/connectbox-exporter/app/externalsecret.yaml
  archive/connectbox-exporter/app/helmrelease.yaml
  archive/connectbox-exporter/app/kustomization.yaml
  archive/connectbox-exporter/ks.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

Bye bye docsis!
  archive/connectbox-exporter/app/externalsecret.yaml
  archive/connectbox-exporter/app/helmrelease.yaml
  archive/connectbox-exporter/app/kustomization.yaml
  archive/connectbox-exporter/ks.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kustomization.yaml
Labels: area/kubernetes

Move files to infrastructureprettier
  infrastructure/terraform/proxmox/nodes.tf
  infrastructure/terraform/proxmox/proxmox-node/variables.tf
Labels: none

Move compatible arrs to postgres
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Move compatible arrs to postgres (#943)
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: Move compatible arrs to postgres (#943)
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix copypasta fail
  kubernetes/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes

fix copypasta fail
  kubernetes/apps/media/radarr/app/externalsecret.yaml
Labels: area/kubernetes

whoami changed the default port
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

whoami changed the default port
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

Group flux upgrades together
  .github/renovate/groups.json5
Labels: area/github

Group flux upgrades together
  .github/renovate/groups.json5
Labels: area/github

fix typo
  .github/renovate/groups.json5
Labels: area/github

fix typo
  .github/renovate/groups.json5
Labels: area/github

We'll fix this later
  .taskfiles/Ansible/AnsibleTasks.yml
  .taskfiles/Kubernetes/Tasks.yml
  .taskfiles/Proxmox/ProxmoxTasks.yml
  .taskfiles/Terraform/AuthentikTasks.yml
  .taskfiles/Terraform/CloudflareTasks.yml
  .taskfiles/Terraform/MinioTasks.yml
  .taskfiles/Terraform/TerraformTasks.yml
  Taskfile.yml
Labels: none

We'll fix this later
  .taskfiles/Ansible/AnsibleTasks.yml
  .taskfiles/Kubernetes/Tasks.yml
  .taskfiles/Proxmox/ProxmoxTasks.yml
  .taskfiles/Terraform/AuthentikTasks.yml
  .taskfiles/Terraform/CloudflareTasks.yml
  .taskfiles/Terraform/MinioTasks.yml
  .taskfiles/Terraform/TerraformTasks.yml
  Taskfile.yml
Labels: none

subcharts
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

switch it back
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

use the functionality
  kubernetes/apps/fileserver/nextcloud/app/externalsecret.yaml
  kubernetes/apps/fileserver/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none

enable authentik prom monitoring
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

enable authentik prom monitoring
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

update lock
  infrastructure/terraform/authentik/.terraform.lock.hcl
Labels: none

fix stage fields
  infrastructure/terraform/authentik/stages-prompt_fields.tf
Labels: none

Enforce 2FA
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/stages.tf
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"
