Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

don't volsync for now
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

need a pvc tho
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

eh
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
Labels: area/kubernetes

pvc fix
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

gah
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

feat: add ocis (#3480)
  archive/ocis/ks.yaml
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  infrastructure/terraform/minio/ocis.tofu
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/ocis/app/config/csp.yaml
  kubernetes/apps/selfhosted/ocis/app/config/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/ocis/app/config/proxy.yaml
  kubernetes/apps/selfhosted/ocis/app/config/web.yaml
  kubernetes/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/kustomization.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/terraform, area/kubernetes

fix: oof
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

fix(ocis): wrong ex
  kubernetes/apps/selfhosted/ocis/app/externalsecret.yaml
Labels: area/kubernetes

fix(nginx): borked max-age?
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

chore(nextcloud): retire
  archive/nextcloud/app/externalsecret.yaml
  archive/nextcloud/app/gatus.yaml
  archive/nextcloud/app/helmrelease.yaml
  archive/nextcloud/app/kustomization.yaml
  archive/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(ocis): add gatus ep
  kubernetes/apps/selfhosted/ocis/app/gatus.yaml
  kubernetes/apps/selfhosted/ocis/app/kustomization.yaml
Labels: area/kubernetes

chore: delete nextcloud infra
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/minio/nextcloud.tofu
Labels: area/terraform

chore(ocis): more oomph
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/siderolabs/installer ( v1.9.5 → v1.9.6 )
  kubernetes/apps/kube-system/system-upgrade/ks.yaml
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix(dcsi): fix iscsi on talos 1.10
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
Labels: area/kubernetes

chore: use eso chart dashboard
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/app/values.yaml
Labels: area/kubernetes

chore: update old resources
  kubernetes/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/components/alerts/github/externalsecret.yaml
  kubernetes/components/volsync/minio/externalsecret.yaml
Labels: area/kubernetes

feat(unpoller): add healthchecks
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix: immich cm kustomize generator
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/kustomizeconfig.yaml
Labels: area/kubernetes

kustomizeconfig
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
Labels: area/kubernetes

fix path
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
Labels: area/kubernetes

fix: immich cm kustomize generator (#3504)
  kubernetes/apps/selfhosted/immich/app/kustomization.yaml
  kubernetes/apps/selfhosted/immich/app/kustomizeconfig.yaml
Labels: area/kubernetes

feat(immich): create dedicated DB
  kubernetes/apps/selfhosted/immich/database/externalsecret.yaml
  kubernetes/apps/selfhosted/immich/database/gatus.yaml
  kubernetes/apps/selfhosted/immich/database/immich-pg16.yaml
  kubernetes/apps/selfhosted/immich/database/kustomization.yaml
  kubernetes/apps/selfhosted/immich/database/scheduledbackup.yaml
  kubernetes/apps/selfhosted/immich/database/service.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
Labels: area/kubernetes

one KS is enough
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/selfhosted/immich/database/externalsecret.yaml
  kubernetes/apps/selfhosted/immich/database/gatus.yaml
  kubernetes/apps/selfhosted/immich/database/immich-pg16.yaml
  kubernetes/apps/selfhosted/immich/database/kustomization.yaml
  kubernetes/apps/selfhosted/immich/database/scheduledbackup.yaml
  kubernetes/apps/selfhosted/immich/database/service.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
Labels: area/kubernetes

feat(immich): create dedicated DB (#3505)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

chore(immich): use dedicated db
  kubernetes/apps/selfhosted/immich/app/externalsecret.yaml
Labels: area/kubernetes

Revert "fix(container): update intel device plugins ( 0.32.0 → 0.32.1 ) (#3507)"
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helmrelease.yaml
Labels: area/kubernetes

fix(gatus): duplicate
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
Labels: area/kubernetes

chore: remove vectors from main pg cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-16.yaml
Labels: area/kubernetes

feat: upgrade app pg cluster to cnpg image
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-16.yaml
Labels: area/kubernetes

fix(convertx): fix PVC access
  kubernetes/apps/selfhosted/convertx/ks.yaml
Labels: area/kubernetes

feat: add postgres 17
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

initdb
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
Labels: area/kubernetes

feat: add postgres 17 (#3511)
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

chore: switch to postgres-17
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/lidarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/monitor/gatus/app/externalsecret.yaml
  kubernetes/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/apps/selfhosted/paperless/app/externalsecret.yaml
Labels: area/kubernetes

chore: remove pg16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-17.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/gatus.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

fix: whoops
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

chore: leave info on what's needed for immich if starting from scratch
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-immich.yaml
Labels: area/kubernetes

chore(renovate): pick up cnpg images
  .github/renovate.json5
  .github/renovate/customManagers.json5
Labels: area/github

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
