Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

fix go2rtc
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
Labels: area/kubernetes

adjust alertmanager
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix prometheus external url
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: move internal ingress to httproute (#3879)
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
  kubernetes/apps/selfhosted/romm/app/helmrelease.yaml
Labels: area/kubernetes

chore(ingress-nginx): remove private
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/private/kustomization.yaml
Labels: area/kubernetes

chore(atuin): move to httproute
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(certificate): remove unneeded subdomain from SAN
  kubernetes/apps/network/cert-manager/default-certificate/certificate.yaml
Labels: area/kubernetes

chore(kyverno): disable unneeded rule
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
Labels: area/kubernetes

chore(authentik): add httproute to proxy
  infrastructure/terraform/authentik/system.tofu
Labels: area/terraform

feat(envoy): migrate external apps
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/network/envoy-gateway/config/external.yaml
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/referencegrant.yaml
  kubernetes/components/authentik-proxy/kustomization.yaml
  kubernetes/components/authentik-proxy/securitypolicy.yaml
Labels: area/kubernetes

handle all forward auth apps
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
Labels: area/kubernetes

move the rest of the apps
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/httproute.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/ingress.yaml
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/httproute.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/app/ocirepository.yaml
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
  kubernetes/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/cdn-proxy/app/kustomization.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/ingress.yaml
  kubernetes/apps/network/hass-proxy/app/kustomization.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
Labels: area/kubernetes

remove DNS from ingress controller
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/flux-system/flux-instance/app/github/webhooks/kustomization.yaml
Labels: area/kubernetes

fix immich
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

yoink
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

disable ingress in homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
Labels: area/kubernetes

prettier nitpicks
  kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  kubernetes/apps/security/authentik/app/referencegrant.yaml
Labels: area/kubernetes

fix(qbt): fix port
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(cdn): try bare route
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
Labels: area/kubernetes

fix: copypasta fail
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/service.yaml
Labels: area/kubernetes

let's see if this has a chance of working
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/service.yaml
Labels: area/kubernetes

fix(hass-proxy): need to use backend instead of svc
  kubernetes/apps/network/hass-proxy/app/backend.yaml
  kubernetes/apps/network/hass-proxy/app/httproute.yaml
  kubernetes/apps/network/hass-proxy/app/kustomization.yaml
Labels: area/kubernetes

fix(envoy): enable backend extension
  kubernetes/apps/network/envoy-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(cdn): use backend
  kubernetes/apps/network/cdn-proxy/app/backend.yaml
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/cdn-proxy/app/kustomization.yaml
  kubernetes/apps/network/cdn-proxy/app/service.yaml
  kubernetes/apps/network/hass-proxy/app/service.yaml
Labels: area/kubernetes

fix: fug
  kubernetes/apps/network/cdn-proxy/app/backend.yaml
Labels: area/kubernetes

fix(cdn): let's try this
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
Labels: area/kubernetes

fix domain!
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
Labels: area/kubernetes

fix(cdn): adjust path?
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
Labels: area/kubernetes

let's test!
  kubernetes/apps/default/whoami/app/httproute.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/default/whoami/app/httproute.yaml
Labels: area/kubernetes

no, this breaks
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
Labels: area/kubernetes

full debug mode on
  kubernetes/apps/default/whoami/app/backend.yaml
  kubernetes/apps/default/whoami/app/httproute.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
  truenas/stacks/07-whoami/.env
  truenas/stacks/07-whoami/docker-compose.yml
Labels: area/kubernetes, area/truenas

whoops
  truenas/stacks/07-whoami/docker-compose.yml
Labels: area/truenas

MOAR debugging
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

almost there
  kubernetes/apps/default/whoami/app/backend.yaml
  kubernetes/apps/default/whoami/app/httproute.yaml
  kubernetes/apps/network/cdn-proxy/app/backend.yaml
Labels: area/kubernetes

fix(cdn): we got what we wanted, put things back in order
  kubernetes/apps/default/whoami/app/backend.yaml
  kubernetes/apps/default/whoami/app/httproute.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
  kubernetes/apps/network/cdn-proxy/app/backend.yaml
  kubernetes/apps/network/cdn-proxy/app/httproute.yaml
  kubernetes/apps/network/cdn-proxy/app/ingress.yaml
  kubernetes/apps/network/hass-proxy/app/backend.yaml
  truenas/stacks/07-whoami/.env
  truenas/stacks/07-whoami/docker-compose.yml
Labels: area/kubernetes, area/truenas

chore(authentik): disable ingress generation
  infrastructure/terraform/authentik/system.tofu
Labels: area/terraform

chore(ingress-nginx): retire
  kubernetes/apps/network/ingress-nginx/ks.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/kustomization.yaml
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

chore(ex-dns): don't consider ingress objects
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
