Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

fix(ci): fix schemas
  .github/workflows/schemas.yaml
Labels: area/github

feat(smartctl): add monitoring
  kubernetes/apps/monitor/kustomization.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/kustomization.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/apps/monitor/smartctl-exporter/ks.yaml
Labels: area/kubernetes

fix(smartctl): only care about nvme devices
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(smartctl-exporter): without the path
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(smartctl-exporter): nice instances
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(smartctl-exporter): fix the instance label in the scrapeconfig
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
Labels: area/kubernetes

chore(homepage): remove proxmox widget
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

chore(authentik): remove proxmox oidc
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

fix(prom): try to make nice instance labels
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/speedtest-exporter.yaml
Labels: area/kubernetes

fix(kps): typo
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): needs regex
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(kps): huh?
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(cilium): leave note about ECMP
  kubernetes/apps/kube-system/cilium/config/frr.conf
Labels: area/kubernetes

fix(kps): no, things break like this
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(ingress): redirect to tls by default
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
Labels: area/kubernetes

fix(go2rtc): downgrade
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix(go2rtc): try accessing cameras directly
  truenas/stacks/07-cameras/config/go2rtc.yaml
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix(go2rtc): disable mediamtx
  truenas/stacks/07-cameras/config/go2rtc.yaml
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

fix(go2rtc): disable depends
  truenas/stacks/07-cameras/docker-compose.yml
Labels: area/truenas

feat(talos): optimize cpu behaviour
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

feat(talos): more tweaks
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

pin version
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/renovate.yaml
Labels: area/github

fix(dcsi): use a non-root created token
  kubernetes/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nfs/externalsecret.yaml
Labels: area/kubernetes

fix(grafana): fix missing dashboards
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(homepage): fix tn token
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

chore(renovate): upadte automerge
  .github/renovate/autoMerge.json5
Labels: area/github

chore(kps): move more stuff to oci charts
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/bjw-s.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/prometheus-community.yaml
Labels: area/kubernetes

chore: move more stuff to ocirepos
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/security/external-secrets/operator/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/cluster-meta/repositories/helm/controlplaneio.yaml
  kubernetes/flux/cluster-meta/repositories/helm/dragonfly.yaml
  kubernetes/flux/cluster-meta/repositories/helm/external-secrets.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore: move more stuff to OCI
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/grafana.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/spegel.yaml
  kubernetes/flux/cluster-meta/repositories/helm/stakater.yaml
  kubernetes/flux/cluster-meta/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes

chore: remove old helmrepos
  kubernetes/flux/cluster-meta/repositories/helm/cilium.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore: move stuff to oci
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/authentik.yaml
  kubernetes/flux/cluster-meta/repositories/helm/backube.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(volsync): copypasta fail
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
Labels: area/kubernetes

chore(cnpg): move to oci
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/cloudnative-pg-dashboards.yaml
  kubernetes/flux/cluster-meta/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(cnpg): wrong dashboard chart
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
Labels: area/kubernetes

chore(app-template): add keys
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

chore(dcsi): move to oci
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nfs/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/test/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/democratic-csi.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/oci/democratic-csi.yaml
  kubernetes/flux/cluster-meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

chore(openebs): move to oci
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/openebs.yaml
Labels: area/kubernetes

chore(snapshot-controller): move to OCI
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/piraeus.yaml
  kubernetes/flux/cluster-meta/repositories/helm/postfinance.yaml
Labels: area/kubernetes

fix(snapshot-controller): fix url
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(openebs): disable hooks
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes
