Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"

forgot minecraft volsync config
  kubernetes/apps/games/minecraft/app/kustomization.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: area/kubernetes

fix volsync annotations
  kubernetes/apps/fileserver/namespace.yaml
  kubernetes/apps/games/namespace.yaml
Labels: area/kubernetes

fix volsync annotations
  kubernetes/apps/fileserver/namespace.yaml
  kubernetes/apps/games/namespace.yaml
Labels: area/kubernetes

Migrated to new minio
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/reverse-proxy/app/helmrelease.yaml
  terraform/minio/k3s.tf
  terraform/minio/loki.tf
  terraform/minio/static-content.tf
Labels: area/kubernetes, area/terraform

Migrated to new minio
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/network/reverse-proxy/app/helmrelease.yaml
  terraform/minio/k3s.tf
  terraform/minio/loki.tf
  terraform/minio/static-content.tf
Labels: area/kubernetes, area/terraform

update talconfig
  talos/talconfig.yaml
Labels: none

talenv needs to be encrypted..
  talos/talenv.sops.yaml
  talos/talenv.yaml
Labels: none

bump
  talos/talconfig.yaml
Labels: none

add script
  talos/update-config.sh
Labels: none

Chore/talos 1.4.6 (#902)
  talos/talconfig.yaml
  talos/talenv.sops.yaml
  talos/talenv.yaml
  talos/update-config.sh
Labels: none

Chore/talos 1.4.6 (#902)
  talos/talconfig.yaml
  talos/talenv.sops.yaml
  talos/talenv.yaml
  talos/update-config.sh
Labels: none

remove dead config
  .sops.yaml
Labels: none

remove dead config
  .sops.yaml
Labels: none

quickly add whoami
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
  kubernetes/apps/default/whoami/ks.yaml
Labels: area/kubernetes

quickly add whoami
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/default/whoami/app/kustomization.yaml
  kubernetes/apps/default/whoami/ks.yaml
Labels: area/kubernetes

DNS
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

DNS
  kubernetes/apps/default/whoami/app/helmrelease.yaml
Labels: area/kubernetes

add gitops
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

just use the password
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes

fix admin pass hash
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat: add weave-gitops (#905)
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

feat: add weave-gitops (#905)
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

add chart repo
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes

add chart repo
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/kubernetes

forgot tls part
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

forgot tls part
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

disable networkpolicy
  archive/weave-gitops/helm-release.yaml
Labels: none

disable networkpolicy
  archive/weave-gitops/helm-release.yaml
Labels: none

Delete some old stuff
  archive/calico-system/addons/kustomization.yaml
  archive/calico-system/addons/servicemonitor.yaml
  archive/calico-system/kustomization.yaml
  archive/dnsmasq-exporter/helm-release.yaml
  archive/dnsmasq-exporter/kustomization.yaml
  archive/minecraft/dashboard.yaml
  archive/minecraft/externalsecret.yaml
  archive/minecraft/helmrelease.yaml
  archive/minecraft/kustomization.yaml
  archive/minecraft/pvc.yaml
  archive/minecraft/replicationsource.yaml
  archive/minecraft/servicemonitor.yaml
  archive/speedtest-go/external-secret.yaml
  archive/speedtest-go/helm-release.yaml
  archive/speedtest-go/kustomization.yaml
  archive/truenas-csp/externalsecret.yaml
  archive/truenas-csp/helmrelease.yaml
  archive/truenas-csp/kustomization.yaml
  archive/truenas-csp/snapshotclass.yaml
  archive/truenas-csp/storageclass.yaml
  archive/uptime-kuma/helmrelease.yaml
  archive/uptime-kuma/kustomization.yaml
  archive/uptime-kuma/pvc.yaml
  archive/uptime-kuma/replicationsource.yaml
  archive/weave-gitops/helm-release.yaml
  archive/weave-gitops/kustomization.yaml
  archive/weave-gitops/secret.sops.yaml
Labels: none

Delete some old stuff
  archive/calico-system/addons/kustomization.yaml
  archive/calico-system/addons/servicemonitor.yaml
  archive/calico-system/kustomization.yaml
  archive/dnsmasq-exporter/helm-release.yaml
  archive/dnsmasq-exporter/kustomization.yaml
  archive/minecraft/dashboard.yaml
  archive/minecraft/externalsecret.yaml
  archive/minecraft/helmrelease.yaml
  archive/minecraft/kustomization.yaml
  archive/minecraft/pvc.yaml
  archive/minecraft/replicationsource.yaml
  archive/minecraft/servicemonitor.yaml
  archive/speedtest-go/external-secret.yaml
  archive/speedtest-go/helm-release.yaml
  archive/speedtest-go/kustomization.yaml
  archive/truenas-csp/externalsecret.yaml
  archive/truenas-csp/helmrelease.yaml
  archive/truenas-csp/kustomization.yaml
  archive/truenas-csp/snapshotclass.yaml
  archive/truenas-csp/storageclass.yaml
  archive/uptime-kuma/helmrelease.yaml
  archive/uptime-kuma/kustomization.yaml
  archive/uptime-kuma/pvc.yaml
  archive/uptime-kuma/replicationsource.yaml
  archive/weave-gitops/helm-release.yaml
  archive/weave-gitops/kustomization.yaml
  archive/weave-gitops/secret.sops.yaml
Labels: none

(manually) bump cilium
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/extras/cni/kustomization.yaml
Labels: area/kubernetes

(manually) bump cilium
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
  talos/extras/cni/kustomization.yaml
Labels: area/kubernetes

Add tf-controller
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

Patch-in tf-controller to flux
  kubernetes/flux/config/flux.yaml
Labels: area/kubernetes

feat: tf-controller (#906)
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

feat: tf-controller (#906)
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes

weavework has a secret oci repo
  kubernetes/flux/repositories/helm/weaveworks.yaml
Labels: area/kubernetes
