Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore(renovate): block minio updates
  .github/renovate/allowedVersions.json5
Labels: area/github

fix(renovate): like that?
  .github/renovate/allowedVersions.json5
Labels: area/github

chore(renovate): just don't touch it
  .github/renovate/allowedVersions.json5
Labels: area/github

feat(immich): implement ml-cache pvc and preload models
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/pvc.yaml
Labels: area/kubernetes

feat(immich): implement ml-cache pvc and preload models (#3547)
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
  kubernetes/apps/selfhosted/immich/app/pvc.yaml
Labels: area/kubernetes

feat(immich): change CLIP model
  kubernetes/apps/selfhosted/immich/app/config/immich.config.json
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix(immich): adjust labels
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): something went fucky-wucky
  .github/renovate/allowedVersions.json5
Labels: area/github

chore: disable SUC plans for now
  kubernetes/apps/kube-system/system-upgrade/plans/kustomization.yaml
Labels: area/kubernetes

fix(suc): fix talos SA
  kubernetes/apps/kube-system/system-upgrade/controller/helmrelease.yaml
Labels: area/kubernetes

chore(suc): re-enable talos plan
  kubernetes/apps/kube-system/system-upgrade/plans/kustomization.yaml
Labels: area/kubernetes

feat(flux): 2.6.0 features
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/github/arc/operator/helmrelease.yaml
  kubernetes/apps/github/arc/runners/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
  kubernetes/flux/cluster-meta/repositories/oci/democratic-csi.yaml
  kubernetes/flux/cluster-meta/repositories/oci/external-dns.yaml
  kubernetes/flux/cluster-meta/repositories/oci/ingress-nginx.yaml
Labels: area/kubernetes

feat(flux): 2.6.0 features (#3562)
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/values.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/github/arc/operator/helmrelease.yaml
  kubernetes/apps/github/arc/runners/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/operator/helmrelease.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/crds/helmrelease.yaml
  kubernetes/apps/monitor/smartctl-exporter/app/helmrelease.yaml
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/storage/volsync/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
  kubernetes/flux/cluster-meta/repositories/oci/democratic-csi.yaml
  kubernetes/flux/cluster-meta/repositories/oci/external-dns.yaml
  kubernetes/flux/cluster-meta/repositories/oci/ingress-nginx.yaml
Labels: area/kubernetes

feat(go2rtc): switch bedroom to thingio
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/externalsecret.yaml
Labels: area/kubernetes

feat: add oidcwarden
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/kustomization.yaml
  kubernetes/apps/security/vaultwarden/ks.yaml
Labels: area/kubernetes

fix
  kubernetes/apps/security/vaultwarden/app/kustomization.yaml
Labels: area/kubernetes

fix more
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
Labels: area/kubernetes

configure SSO
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
Labels: area/terraform, area/kubernetes

fmt
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

use username
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

actually no
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

fmt
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

feat: add oidcwarden (#3586)
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
  kubernetes/apps/security/vaultwarden/app/kustomization.yaml
  kubernetes/apps/security/vaultwarden/ks.yaml
Labels: area/terraform, area/kubernetes

fix(vaultwarden) update es
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
Labels: area/kubernetes

fix(vaultwarden): disable volsync for now
  kubernetes/apps/security/vaultwarden/ks.yaml
Labels: area/kubernetes

fix(vaultwarden): fix DB url
  kubernetes/apps/security/vaultwarden/app/externalsecret.yaml
Labels: area/kubernetes

fix(vaultwarden): fix redirect URI
  infrastructure/terraform/authentik/applications.tofu
Labels: area/terraform

chore(vaultwarden): SSO only (test)
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

fix(authentik): session storage is always in DB now
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

chore(vaultwarden): cleanup widget
  kubernetes/apps/security/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

fix(authentik): normalize access token age
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/oauth2_application/variables.tofu
  infrastructure/terraform/authentik/proxy_application/variables.tofu
Labels: area/terraform

chore(authentik): I don't think I use this, but update it
  infrastructure/terraform/authentik/customization.tofu
Labels: area/terraform

fix(authentik): fix expression policy
  infrastructure/terraform/authentik/customization.tofu
Labels: area/terraform

chore(external-dns): update values
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

chore(external-dns): is the schema fixed yet?
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes

disable more stuff
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes

chore(gh-arc): remove postrender
  kubernetes/apps/github/arc/operator/helmrelease.yaml
Labels: area/kubernetes

chore(gh-actions): run all on selfhosted workers
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/renovate.yaml
Labels: area/github

Revert "chore(gh-actions): run all on selfhosted workers"
  .github/workflows/flux-diff.yaml
  .github/workflows/lint.yaml
  .github/workflows/meta-enforce-labels.yaml
  .github/workflows/meta-label-size.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/renovate.yaml
Labels: area/github

chore: refresh arc secret config
  kubernetes/apps/github/arc/operator/kustomization.yaml
  kubernetes/apps/github/arc/runners/externalsecret.yaml
  kubernetes/apps/github/arc/runners/helmrelease.yaml
  kubernetes/apps/github/arc/runners/kustomization.yaml
Labels: area/kubernetes
