Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore: move more stuff into helmfile
  kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/apps/kube-system/spegel/app/values.yaml
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
  kubernetes/apps/network/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cert-manager/app/kustomizeconfig.yaml
  kubernetes/apps/network/cert-manager/app/values.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

fix(renovate): fix cilium group
  .github/renovate/groups.json5
Labels: area/github

chore(paperless): see if token works now with oidc
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(paperless): enquote
  kubernetes/apps/selfhosted/paperless/app/helmrelease.yaml
Labels: area/kubernetes

chore(homepage): tweak config
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/selfhosted/navidrome/app/helmrelease.yaml
Labels: area/kubernetes

chore: tweak homepage
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/it-tools/app/helmrelease.yaml
Labels: area/kubernetes

feat: bring back minecraft
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/ks.yaml
Labels: area/kubernetes

use ocirepo
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

feat: bring back minecraft (#3410)
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
  kubernetes/apps/games/minecraft/app/kustomization.yaml
  kubernetes/apps/games/minecraft/ks.yaml
Labels: area/kubernetes

fix(minecraft): fix rcon password
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: area/kubernetes

fix(minecraft): fix secret
  kubernetes/apps/games/minecraft/app/externalsecret.yaml
Labels: area/kubernetes

feat(minecraft): update versions
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

fix(miencraft): use ghcr.io
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

fix(minecraft): fix homepage widget
  kubernetes/apps/games/minecraft/app/helmrelease.yaml
Labels: area/kubernetes

chore(s3-proxy): try to replace it
  kubernetes/apps/network/s3-proxy/app/helmrelease.yaml
  kubernetes/apps/network/s3-proxy/app/kustomization.yaml
Labels: area/kubernetes

try it like this?
  kubernetes/apps/network/s3-proxy/app/helmrelease.yaml
Labels: area/kubernetes

what if we specify whatever?
  kubernetes/apps/network/s3-proxy/app/helmrelease.yaml
Labels: area/kubernetes

give up, do it bare
  kubernetes/apps/network/cdn-proxy/app/ingress.yaml
  kubernetes/apps/network/cdn-proxy/app/kustomization.yaml
  kubernetes/apps/network/cdn-proxy/app/service.yaml
  kubernetes/apps/network/cdn-proxy/ks.yaml
  kubernetes/apps/network/s3-proxy/app/configmap.yaml
  kubernetes/apps/network/s3-proxy/app/helmrelease.yaml
Labels: area/kubernetes

adjust
  kubernetes/apps/network/kustomization.yaml
Labels: area/kubernetes

chore(s3-proxy): try to replace it (#3413)
  kubernetes/apps/network/cdn-proxy/app/ingress.yaml
  kubernetes/apps/network/cdn-proxy/app/kustomization.yaml
  kubernetes/apps/network/cdn-proxy/app/service.yaml
  kubernetes/apps/network/cdn-proxy/ks.yaml
  kubernetes/apps/network/kustomization.yaml
  kubernetes/apps/network/s3-proxy/app/configmap.yaml
  kubernetes/apps/network/s3-proxy/app/helmrelease.yaml
Labels: area/kubernetes

fix(cdn-proxy): fix port name
  kubernetes/apps/network/cdn-proxy/app/service.yaml
Labels: area/kubernetes

fix(cdn-proxy): tweak
  kubernetes/apps/network/cdn-proxy/app/ingress.yaml
Labels: area/kubernetes

feat(cert-manager): simplify
  kubernetes/apps/network/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/network/cert-manager/app/externalsecret.yaml
  kubernetes/apps/network/cert-manager/app/kustomization.yaml
  kubernetes/apps/network/cert-manager/issuers/kustomization.yaml
  kubernetes/apps/network/cert-manager/ks.yaml
Labels: area/kubernetes

feat(eso): simplify
  archive/onepassword/app/helmrelease.yaml
  archive/onepassword/app/kustomization.yaml
  archive/onepassword/ks.yaml
  kubernetes/apps/security/external-secrets/app/clustersecretstore.yaml
  kubernetes/apps/security/external-secrets/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/app/kustomization.yaml
  kubernetes/apps/security/external-secrets/app/kustomizeconfig.yaml
  kubernetes/apps/security/external-secrets/app/values.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/security/external-secrets/operator/kustomization.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

fix(eso): adjust depends
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/github/arc/ks.yaml
  kubernetes/apps/kube-system/talos-backup/ks.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitor/thanos/ks.yaml
  kubernetes/apps/monitor/unpoller/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/selfhosted/atuin/ks.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/storage/democratic-csi/ks.yaml
Labels: area/kubernetes

feat: add unifi controller
  truenas/stacks/08-unifi/.env
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(unifi): fix docker image
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(unifi): perms
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(unifi): needs more magic
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(unifi): skip tls verify
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(unifi): try a different route
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

feat(hass-proxy): add ostroda proxy
  kubernetes/apps/network/cert-manager/default-certificate/certificate.yaml
  kubernetes/apps/network/hass-proxy/app/ingress.yaml
  kubernetes/apps/network/hass-proxy/app/service.yaml
Labels: area/kubernetes

fix(ingress): don't need to duplicate domains in certs
  kubernetes/apps/network/cert-manager/default-certificate/certificate.yaml
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
Labels: area/kubernetes

feat(ex-dns): add alerting
  kubernetes/apps/network/external-dns/cloudflare/prometheusrule.yaml
Labels: area/kubernetes

fix(ex-dns): k
  kubernetes/apps/network/external-dns/cloudflare/kustomization.yaml
  kubernetes/apps/network/external-dns/unifi/kustomization.yaml
Labels: area/kubernetes

fix(gateway-api): grou[p
  .github/renovate/groups.json5
Labels: area/github

didn't work, try again
  .github/renovate/groups.json5
Labels: area/github

fix(renovate): missing cert-manager group
  .github/renovate/groups.json5
Labels: area/github

Update groups.json5
  .github/renovate/groups.json5
Labels: area/github

nu-uh
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
Labels: area/kubernetes
