Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*

fix(gh): fix branch in schemas
  .github/workflows/schemas.yaml
Labels: area/github

feat: finally, a good smartctl dashboard
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

chore: move hass
  infrastructure/terraform/proxmox/hass.tf
Labels: area/terraform

feat: add part-db
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes, cluster/talos

adjust server name
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

no need for STS
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

adjust mover UID
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes, cluster/talos

Feat: part-db (#3041)
  kubernetes/talos/apps/selfhosted/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes, cluster/talos

fix: disable probes for now
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: this needs more love
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix: try the other image
  kubernetes/talos/apps/selfhosted/partdb/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

feat(partdb): add TME integration
  kubernetes/talos/apps/selfhosted/partdb/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

feat(partdb): digikey API
  kubernetes/talos/apps/selfhosted/partdb/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

use API key
  kubernetes/talos/apps/monitor/unpoller/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

use API key
  kubernetes/talos/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/talos/apps/network/external-dns/unifi/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(external-dns): wrong secret referenced
  kubernetes/talos/apps/network/external-dns/unifi/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

fix: something is off
  kubernetes/talos/apps/monitor/unpoller/app/externalsecret.yaml
  kubernetes/talos/apps/network/external-dns/unifi/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

fix: external-secrets had an aneurysm?
  kubernetes/talos/apps/monitor/unpoller/app/externalsecret.yaml
  kubernetes/talos/apps/network/external-dns/unifi/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

fix: devin no longer carries lidarr
  kubernetes/talos/apps/downloads/lidarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(lidarr): disable LOGDB
  kubernetes/talos/apps/downloads/lidarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/lidarr/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(external-secrets): engineVersion v2 is default
  kubernetes/talos/apps/database/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/talos/apps/default/homepage/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/lidarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/talos/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/talos/apps/flux-system/add-ons/notifications/github/externalsecret.yaml
  kubernetes/talos/apps/flux-system/add-ons/notifications/telegram/externalsecret.yaml
  kubernetes/talos/apps/flux-system/add-ons/webhooks/github/externalsecret.yaml
  kubernetes/talos/apps/kube-system/talos-backup/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/gatus/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/talos/apps/monitor/unpoller/app/externalsecret.yaml
  kubernetes/talos/apps/network/cert-manager/issuers/externalsecret.yaml
  kubernetes/talos/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/talos/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/talos/apps/security/authentik/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/immich/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/externalsecret.yaml
  kubernetes/talos/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  kubernetes/talos/apps/storage/democratic-csi/nfs/externalsecret.yaml
  kubernetes/talos/apps/storage/democratic-csi/nvmeof/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

chore(task): simplify the pod cleanup command
  .taskfiles/kubernetes/Taskfile.yaml
Labels: area/taskfiles

fix: ks
  kubernetes/talos/apps/security/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix depends
  kubernetes/talos/apps/database/cloudnative-pg/ks.yaml
  kubernetes/talos/apps/default/homepage/ks.yaml
  kubernetes/talos/apps/downloads/bazarr/ks.yaml
  kubernetes/talos/apps/downloads/lidarr/ks.yaml
  kubernetes/talos/apps/downloads/prowlarr/ks.yaml
  kubernetes/talos/apps/downloads/radarr/ks.yaml
  kubernetes/talos/apps/downloads/recyclarr/ks.yaml
  kubernetes/talos/apps/downloads/sonarr/ks.yaml
  kubernetes/talos/apps/flux-system/add-ons/ks.yaml
  kubernetes/talos/apps/github/arc/ks.yaml
  kubernetes/talos/apps/kube-system/talos-backup/ks.yaml
  kubernetes/talos/apps/monitor/gatus/ks.yaml
  kubernetes/talos/apps/monitor/grafana/ks.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/talos/apps/monitor/thanos/ks.yaml
  kubernetes/talos/apps/monitor/unpoller/ks.yaml
  kubernetes/talos/apps/network/cert-manager/ks.yaml
  kubernetes/talos/apps/network/external-dns/ks.yaml
  kubernetes/talos/apps/security/authentik/ks.yaml
  kubernetes/talos/apps/selfhosted/atuin/ks.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/talos/apps/selfhosted/immich/ks.yaml
  kubernetes/talos/apps/selfhosted/navidrome/ks.yaml
  kubernetes/talos/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
  kubernetes/talos/apps/storage/democratic-csi/ks.yaml
Labels: area/kubernetes, cluster/talos

fix(external-secrets): adjust volsync templates
  kubernetes/talos/templates/volsync/minio/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

chore(spegel): don't deploy on bootstrap
  kubernetes/talos/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/talos/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/talos/apps/kube-system/spegel/app/kustomizeconfig.yaml
  kubernetes/talos/apps/kube-system/spegel/app/values.yaml
  kubernetes/talos/bootstrap/talos/helmfile.yaml
Labels: area/kubernetes, cluster/talos

feat: switch some repos to oci where available
  kubernetes/talos/flux/repositories/helm/external-secrets.yaml
  kubernetes/talos/flux/repositories/helm/grafana.yaml
Labels: area/kubernetes, cluster/talos

chore: cleanup
  kubernetes/talos/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/talos/flux/repositories/helm/authentik.yaml
  kubernetes/talos/flux/repositories/helm/backube.yaml
  kubernetes/talos/flux/repositories/helm/bjw-s.yaml
  kubernetes/talos/flux/repositories/helm/cilium.yaml
  kubernetes/talos/flux/repositories/helm/cloudnative-pg-dashboards.yaml
  kubernetes/talos/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/talos/flux/repositories/helm/democratic-csi.yaml
  kubernetes/talos/flux/repositories/helm/descheduler.yaml
  kubernetes/talos/flux/repositories/helm/external-dns.yaml
  kubernetes/talos/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/talos/flux/repositories/helm/intel.yaml
  kubernetes/talos/flux/repositories/helm/jetstack.yaml
  kubernetes/talos/flux/repositories/helm/kubernetes-sigs-metrics-server.yaml
  kubernetes/talos/flux/repositories/helm/kyverno.yaml
  kubernetes/talos/flux/repositories/helm/minecraft-server.yaml
  kubernetes/talos/flux/repositories/helm/nextcloud.yaml
  kubernetes/talos/flux/repositories/helm/node-feature-discovery.yaml
  kubernetes/talos/flux/repositories/helm/openebs.yaml
  kubernetes/talos/flux/repositories/helm/piraeus.yaml
  kubernetes/talos/flux/repositories/helm/postfinance.yaml
  kubernetes/talos/flux/repositories/helm/prometheus-community.yaml
  kubernetes/talos/flux/repositories/helm/spegel.yaml
  kubernetes/talos/flux/repositories/helm/stakater.yaml
  kubernetes/talos/flux/repositories/helm/stevehipwell.yaml
Labels: area/kubernetes, cluster/talos

bump image
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

use flavor
  kubernetes/talos/apps/selfhosted/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes, cluster/talos

fix(ci): fix pre-pull images
  .github/workflows/pre-pull-images.yaml
Labels: area/github

feat(alertmanager): try out pushover
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes, cluster/talos

feat(alertmanager): try out pushover
  kubernetes/talos/apps/monitor/kube-prometheus-stack/app/alertmanager.yaml
Labels: area/kubernetes, cluster/talos

feat(gatus): try out pushover
  kubernetes/talos/apps/monitor/gatus/app/config/config.yaml
  kubernetes/talos/apps/monitor/gatus/app/externalsecret.yaml
  kubernetes/talos/apps/selfhosted/immich/app/gatus.yaml
Labels: area/kubernetes, cluster/talos

adjust resources
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

adjust
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

fix(cloudflare): forgot to commit fixes
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

fix(cloudflare): more uncommited fixes
  infrastructure/terraform/cloudflare/records.tf
Labels: area/terraform

feat: move to components
  kubernetes/talos/components/pvc/kustomization.yaml
  kubernetes/talos/components/pvc/pvc.yaml
  kubernetes/talos/components/volsync/kustomization.yaml
  kubernetes/talos/components/volsync/minio/externalsecret.yaml
  kubernetes/talos/components/volsync/minio/kustomization.yaml
  kubernetes/talos/components/volsync/minio/replicationdestination.yaml
  kubernetes/talos/components/volsync/minio/replicationsource.yaml
  kubernetes/talos/components/volsync/pvc.yaml
  kubernetes/talos/templates/pvc/kustomization.yaml
  kubernetes/talos/templates/volsync/kustomization.yaml
Labels: area/kubernetes, cluster/talos

move apps to components
  kubernetes/talos/apps/downloads/bazarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/bazarr/ks.yaml
  kubernetes/talos/apps/downloads/lidarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/lidarr/ks.yaml
  kubernetes/talos/apps/downloads/qbittorrent/app/kustomization.yaml
  kubernetes/talos/apps/downloads/qbittorrent/ks.yaml
  kubernetes/talos/apps/downloads/radarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/radarr/ks.yaml
  kubernetes/talos/apps/downloads/sonarr/app/kustomization.yaml
  kubernetes/talos/apps/downloads/sonarr/ks.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/talos/apps/selfhosted/navidrome/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/navidrome/ks.yaml
  kubernetes/talos/apps/selfhosted/paperless/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/paperless/ks.yaml
  kubernetes/talos/apps/selfhosted/partdb/app/kustomization.yaml
  kubernetes/talos/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes, cluster/talos
