Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

feat: deploy ollama
  truenas/stacks/08-ollama/.env
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

fix(ollama): fix volume
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

fix(ollama): fix ports
  truenas/stacks/08-ollama/.env
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

fix(ollama): that's how it works
  truenas/stacks/08-ollama/.env
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

chore(ollama): only deploy ollama here
  truenas/stacks/08-ollama/.env
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

feat(searxng): deploy
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/externalsecret.yaml
  kubernetes/apps/selfhosted/searxng/app/helmrelease.yaml
  kubernetes/apps/selfhosted/searxng/app/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/ocirepository.yaml
  kubernetes/apps/selfhosted/searxng/app/resources/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/searxng/app/resources/limiter.toml
  kubernetes/apps/selfhosted/searxng/app/resources/settings.yaml
  kubernetes/apps/selfhosted/searxng/ks.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/selfhosted/searxng/app/helmrelease.yaml
Labels: area/kubernetes

feat(searxng): deploy (#4106)
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/externalsecret.yaml
  kubernetes/apps/selfhosted/searxng/app/helmrelease.yaml
  kubernetes/apps/selfhosted/searxng/app/kustomization.yaml
  kubernetes/apps/selfhosted/searxng/app/ocirepository.yaml
  kubernetes/apps/selfhosted/searxng/app/resources/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/searxng/app/resources/limiter.toml
  kubernetes/apps/selfhosted/searxng/app/resources/settings.yaml
  kubernetes/apps/selfhosted/searxng/ks.yaml
Labels: area/kubernetes

fix(searxng): missing ES
  kubernetes/apps/selfhosted/searxng/app/kustomization.yaml
Labels: area/kubernetes

Add GOMEMLIMIT environment variable to MinIO
  truenas/stacks/02-minio/docker-compose.yml
Labels: area/truenas

feat(openwebui): deploy
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  kubernetes/apps/selfhosted/it-tools/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/openwebui/app/externalsecret.yaml
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
  kubernetes/apps/selfhosted/openwebui/app/kustomization.yaml
  kubernetes/apps/selfhosted/openwebui/app/ocirepository.yaml
  kubernetes/apps/selfhosted/openwebui/ks.yaml
Labels: area/terraform, area/kubernetes

changes
  kubernetes/apps/selfhosted/openwebui/app/externalsecret.yaml
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

private for now
  kubernetes/apps/selfhosted/openwebui/ks.yaml
Labels: area/kubernetes

quick fix for tofu
  infrastructure/terraform/authentik/oauth2_application/main.tofu
  infrastructure/terraform/authentik/oauth2_application/variables.tofu
  infrastructure/terraform/secrets.sops.yaml
Labels: area/terraform

feat(openwebui): deploy (#4108)
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  infrastructure/terraform/authentik/oauth2_application/main.tofu
  infrastructure/terraform/authentik/oauth2_application/variables.tofu
  infrastructure/terraform/secrets.sops.yaml
  kubernetes/apps/selfhosted/it-tools/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/apps/selfhosted/openwebui/app/externalsecret.yaml
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
  kubernetes/apps/selfhosted/openwebui/app/kustomization.yaml
  kubernetes/apps/selfhosted/openwebui/app/ocirepository.yaml
  kubernetes/apps/selfhosted/openwebui/ks.yaml
Labels: area/terraform, area/kubernetes

fix(openwebui): missing stuff
  kubernetes/apps/selfhosted/openwebui/app/kustomization.yaml
  kubernetes/apps/selfhosted/openwebui/ks.yaml
Labels: area/kubernetes

fix(openwebui): fix oidc provider
  kubernetes/apps/selfhosted/openwebui/app/externalsecret.yaml
Labels: area/kubernetes

fix(openwebui): add ollama URL
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

chore(openwebui): expose
  infrastructure/terraform/authentik/applications.tofu
  kubernetes/apps/selfhosted/openwebui/app/externalsecret.yaml
  kubernetes/apps/selfhosted/openwebui/ks.yaml
Labels: area/terraform, area/kubernetes

fix(openwebui): wrong gateway
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

fix(openwebui): i need my admin
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

this?
  kubernetes/apps/selfhosted/openwebui/app/helmrelease.yaml
Labels: area/kubernetes

feat(ollama): try to enable vulkan compute
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

fix(ollama): typo
  truenas/stacks/08-ollama/docker-compose.yml
Labels: area/truenas

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
