Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

feat: add traefik monitoring
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/kustomization.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/traefik.yaml
Labels: area/kubernetes, cluster/talos

chore: this doesn't do shit
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: maybe it's this?
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

fix: getting desperate here
  truenas/stacks/01-traefik/config/traefik.yml
  truenas/stacks/01-traefik/docker-compose.yml
Labels: area/truenas

fix: adjust for v2
  truenas/stacks/02-minio/docker-compose.yml
Labels: area/truenas

fix: ugh
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: that's enough. take haproxy out to it's own IP
  truenas/stacks/08-haproxy/.env
  truenas/stacks/08-haproxy/config/haproxy.cfg
  truenas/stacks/08-haproxy/docker-compose.yml
  truenas/stacks/08-haproxy/secrets.sops.env
Labels: area/truenas

fix ports
  truenas/stacks/08-haproxy/.env
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

fix: remove these as well
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

ugh
  truenas/stacks/08-haproxy/.env
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

fix: fff
  truenas/stacks/08-haproxy/docker-compose.yml
Labels: area/truenas

feat: enable hw decoding in immich
  kubernetes/talos/apps/selfhosted/immich/app/config/immich.config.json
Labels: area/kubernetes, cluster/talos

chore: enable debug for immich
  kubernetes/talos/apps/selfhosted/immich/app/configmap.yaml
Labels: area/kubernetes, cluster/talos

fix: like that
  kubernetes/talos/apps/selfhosted/immich/app/config/immich.config.json
  kubernetes/talos/apps/selfhosted/immich/app/configmap.yaml
Labels: area/kubernetes, cluster/talos

haproxy stats page on backend
  truenas/stacks/08-haproxy/config/haproxy.cfg
Labels: area/truenas

feat: stuff works, let's break it
  truenas/stacks/01-traefik/docker-compose.yml
  truenas/stacks/02-minio/docker-compose.yml
Labels: area/truenas

fix: try to hide metrics behind api/dashboard
  truenas/stacks/01-traefik/config/dynamic/dashboard.yml
Labels: area/truenas

fix: braces
  truenas/stacks/01-traefik/config/dynamic/dashboard.yml
Labels: area/truenas

feat: get those stats like a sane person
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/speedtest-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/traefik.yaml
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/kubernetes, cluster/talos, area/truenas

fix: we can now update traefik
  .github/renovate/allowedVersions.json5
Labels: area/github

fix: cut down on logspam
  truenas/stacks/01-traefik/config/traefik.yml
Labels: area/truenas

feat: try to add prometheus
  truenas/stacks/08-haproxy/config/haproxy.cfg
Labels: area/truenas

quick fix
  truenas/stacks/08-haproxy/config/haproxy.cfg
Labels: area/truenas

fix again
  truenas/stacks/08-haproxy/config/haproxy.cfg
Labels: area/truenas

doesn't work that way
  truenas/stacks/08-haproxy/config/haproxy.cfg
Labels: area/truenas

feat: add haproxy to prometheus and grafana
  kubernetes/talos/apps/monitor/grafana/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/haproxy.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes, cluster/talos

fix: name
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/haproxy.yaml
Labels: area/kubernetes, cluster/talos

fix: wrong URL
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/haproxy.yaml
Labels: area/kubernetes, cluster/talos

feat: switch to a nicer cdn url
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/system.tf
  infrastructure/terraform/minio/cdn.tf
  infrastructure/terraform/minio/static-content.tf
  kubernetes/talos/apps/network/s3-proxy/app/configmap.yaml
  kubernetes/talos/apps/network/s3-proxy/ks.yaml
Labels: area/kubernetes, area/terraform, cluster/talos

fix: fix host header
  kubernetes/talos/apps/network/s3-proxy/app/configmap.yaml
Labels: area/kubernetes, cluster/talos

feat: enable smartctl-exporter on proxmox nodes
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/smartctl-exporter.yaml
Labels: area/kubernetes, cluster/talos

fix: styling
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/node-exporter.yaml
  kubernetes/talos/apps/monitor/kube-prometheus-stack/addons/scrapeconfigs/smartctl-exporter.yaml
Labels: area/kubernetes, cluster/talos

feat: add kromgo
  kubernetes/talos/apps/monitor/kromgo/app/config/config.yaml
  kubernetes/talos/apps/monitor/kromgo/app/helmrelease.yaml
  kubernetes/talos/apps/monitor/kromgo/app/kustomization.yaml
  kubernetes/talos/apps/monitor/kromgo/ks.yaml
  kubernetes/talos/apps/monitor/kustomization.yaml
Labels: area/kubernetes, cluster/talos

chore: update Readme
  README.md
Labels: none

chore: update Readme
  README.md
Labels: none

chore: update README
  README.md
Labels: none

feat(netboot) auto pull-through from gh if missing from local
  truenas/stacks/04-netboot/config/nginx.default.conf
  truenas/stacks/04-netboot/docker-compose.yml
Labels: area/truenas

chore: annotate the netboot fix
  truenas/stacks/04-netboot/docker-compose.yml
Labels: area/truenas

fix: broken for now
  truenas/stacks/04-netboot/docker-compose.yml
Labels: area/truenas

this should work now
  truenas/stacks/04-netboot/config/nginx.default.conf
  truenas/stacks/04-netboot/docker-compose.yml
Labels: area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*
