Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image ghcr.io/unpoller/unpoller to v2.8.1
  kubernetes/apps/monitor/unifi-poller/app/helmrelease.yaml
Labels: area/kubernetes

fix: enable gpu for immich
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
Labels: area/kubernetes

fix: enable gpu for immich
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich to v1.72.2
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat: use dark themes in media apps
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: use dark themes in media apps
  kubernetes/apps/media/prowlarr/app/helmrelease.yaml
  kubernetes/apps/media/radarr/app/helmrelease.yaml
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: use immich TRANSFORMERS_CACHE env
  kubernetes/apps/fileserver/immich/app/configmap.yaml
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix: use immich TRANSFORMERS_CACHE env
  kubernetes/apps/fileserver/immich/app/configmap.yaml
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.603
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: bot clones
  .github/renovate-bot.json5
Labels: area/github

fix: bot clones
  .github/renovate-bot.json5
Labels: area/github

feat(terraform): update terraform cloudflare to 4.12.0
  infrastructure/terraform/cloudflare/.terraform.lock.hcl
  infrastructure/terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart grafana to 6.58.8
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.11.0
  kubernetes/apps/monitor/thanos/app/thanos/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.15.0
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/redis/helmrelease.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

chore(deps): update geerlingguy.docker to 6.2.0
  infrastructure/ansible/requirements.yml
Labels: none
