Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/taskfiles, area/talos, area/github, area/kubernetes, area/terraform, cluster/talos, area/truenas

.github/labeler.yaml:

---
area/ansible:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/ansible/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file: ".taskfiles/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/talos/**/*"
      - any-glob-to-any-file: Taskfile*
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
cluster/talos:
  - changed-files:
      - any-glob-to-any-file: kubernetes/talos/**/*
area/truenas:
  - changed-files:
      - any-glob-to-any-file: truenas/**/*

prettier
  Taskfile.yml
Labels: area/talos

even more
  .github/workflows/pre-pull-images.yaml
Labels: area/github

one more
  .github/workflows/pre-pull-images.yaml
Labels: area/github

fix(flux): fix wrong paths
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

check if workflows work
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(taskfiles): don't guess the path
  Taskfile.yml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/talos, area/kubernetes

feat: try out doing namespace components again
  kubernetes/components/global-vars/cluster-settings.yaml
  kubernetes/components/global-vars/kustomization.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
Labels: area/kubernetes

add meat
  kubernetes/apps/experimental/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/helmrelease.yaml
  kubernetes/apps/experimental/whoami/app/kustomization.yaml
  kubernetes/apps/experimental/whoami/ks.yaml
Labels: area/kubernetes

fix path
  kubernetes/apps/experimental/kustomization.yaml
Labels: area/kubernetes

duuuuh
  kubernetes/apps/experimental/kustomization.yaml
Labels: area/kubernetes

fix namespace
  kubernetes/apps/experimental/whoami/ks.yaml
Labels: area/kubernetes

wrong place to do this
  kubernetes/apps/experimental/kustomization.yaml
  kubernetes/apps/experimental/whoami/ks.yaml
Labels: area/kubernetes

add sops as well
  kubernetes/apps/experimental/kustomization.yaml
  kubernetes/components/sops/kustomization.yaml
  kubernetes/components/sops/secret.sops.yaml
Labels: area/kubernetes

add a sops secret for good measure
  kubernetes/apps/experimental/whoami/app/helmrelease.yaml
  kubernetes/apps/experimental/whoami/app/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/secret.sops.yaml
Labels: area/kubernetes

Feat: component cluster settings test (#3128)
  kubernetes/apps/experimental/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/helmrelease.yaml
  kubernetes/apps/experimental/whoami/app/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/secret.sops.yaml
  kubernetes/apps/experimental/whoami/ks.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
  kubernetes/components/global-vars/kustomization.yaml
  kubernetes/components/namespace/kustomization.yaml
  kubernetes/components/namespace/namespace.yaml
  kubernetes/components/sops/kustomization.yaml
  kubernetes/components/sops/secret.sops.yaml
Labels: area/kubernetes

fix(experimental): we need the gitrepo ns now
  kubernetes/apps/experimental/whoami/ks.yaml
Labels: area/kubernetes

fix(experimental): like that?
  kubernetes/apps/experimental/whoami/app/secret.sops.yaml
Labels: area/kubernetes

chore: move database around to new style
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

tweak naming
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes

spruce up some stuff
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
Labels: area/kubernetes

Chore/migrate database ns (#3130)
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/kustomization.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
  kubernetes/apps/database/kustomization.yaml
  kubernetes/apps/database/namespace.yaml
Labels: area/kubernetes

fix(dragonfly): fix depends
  kubernetes/apps/database/dragonfly/ks.yaml
Labels: area/kubernetes

fix: adjust dangling depends
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/selfhosted/atuin/ks.yaml
  kubernetes/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/partdb/ks.yaml
Labels: area/kubernetes

fix: reenable prune on master ks
  kubernetes/flux/cluster/cluster.yaml
Labels: area/kubernetes

chore(default): move namespace to new format
  kubernetes/apps/default/homepage/app/helmrelease.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/default/whoami/ks.yaml
Labels: area/kubernetes

chore(experimental): the experiment has concluded
  kubernetes/apps/experimental/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/helmrelease.yaml
  kubernetes/apps/experimental/whoami/app/kustomization.yaml
  kubernetes/apps/experimental/whoami/app/secret.sops.yaml
  kubernetes/apps/experimental/whoami/ks.yaml
Labels: area/kubernetes

chore(database): enable prune
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/dragonfly/ks.yaml
  kubernetes/apps/default/whoami/ks.yaml
Labels: area/kubernetes

chore(games): move to new style
  kubernetes/apps/games/kustomization.yaml
  kubernetes/apps/games/namespace.yaml
Labels: area/kubernetes

chore(kyverno): move to new style
  kubernetes/apps/kyverno/kustomization.yaml
  kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  kubernetes/apps/kyverno/kyverno/ks.yaml
  kubernetes/apps/kyverno/namespace.yaml
Labels: area/kubernetes

chore: meh
  kubernetes/apps/database/cloudnative-pg/dashboard/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/operator/helmrelease.yaml
  kubernetes/apps/database/dragonfly/operator/helmrelease.yaml
Labels: area/kubernetes

chore(github): move to new style
  kubernetes/apps/github/arc/ks.yaml
  kubernetes/apps/github/arc/operator/helmrelease.yaml
  kubernetes/apps/github/arc/runners/helmrelease.yaml
  kubernetes/apps/github/kustomization.yaml
Labels: area/kubernetes

fix(github): fix depends
  kubernetes/apps/github/arc/ks.yaml
Labels: area/kubernetes

chore(security): move to new style
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/default/homepage/ks.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
  kubernetes/apps/flux-system/add-ons/ks.yaml
  kubernetes/apps/github/arc/ks.yaml
  kubernetes/apps/github/namespace.yaml
  kubernetes/apps/kube-system/talos-backup/ks.yaml
  kubernetes/apps/monitor/gatus/ks.yaml
  kubernetes/apps/monitor/grafana/ks.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/ks.yaml
  kubernetes/apps/monitor/thanos/ks.yaml
  kubernetes/apps/monitor/unpoller/ks.yaml
  kubernetes/apps/network/cert-manager/ks.yaml
  kubernetes/apps/network/external-dns/ks.yaml
  kubernetes/apps/security/authentik/ks.yaml
  kubernetes/apps/security/external-secrets/ks.yaml
  kubernetes/apps/security/kustomization.yaml
  kubernetes/apps/security/namespace.yaml
  kubernetes/apps/selfhosted/atuin/ks.yaml
  kubernetes/apps/selfhosted/audiobookshelf/ks.yaml
  kubernetes/apps/selfhosted/immich/ks.yaml
  kubernetes/apps/selfhosted/navidrome/ks.yaml
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/paperless/ks.yaml
  kubernetes/apps/selfhosted/partdb/ks.yaml
  kubernetes/apps/storage/democratic-csi/ks.yaml
Labels: area/kubernetes

fix(security): missed one
  kubernetes/apps/security/authentik/ks.yaml
Labels: area/kubernetes

chore(security) cleanup on aisle HR
  kubernetes/apps/security/authentik/app/helmrelease.yaml
  kubernetes/apps/security/external-secrets/onepassword/helmrelease.yaml
  kubernetes/apps/security/external-secrets/operator/helmrelease.yaml
Labels: area/kubernetes

chore(downloads): move to new style
  kubernetes/apps/downloads/bazarr/app/helmrelease.yaml
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/kustomization.yaml
  kubernetes/apps/downloads/lidarr/app/helmrelease.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/namespace.yaml
  kubernetes/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/apps/downloads/prowlarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/app/helmrelease.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/recyclarr/app/helmrelease.yaml
  kubernetes/apps/downloads/recyclarr/ks.yaml
  kubernetes/apps/downloads/sonarr/app/helmrelease.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
Labels: area/kubernetes

fix(downloads): fix depends
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
Labels: area/kubernetes

fix(radarr): you're on nfs
  kubernetes/apps/downloads/radarr/ks.yaml
Labels: area/kubernetes

fix(downloads): these are for pvc components
  kubernetes/apps/downloads/bazarr/ks.yaml
  kubernetes/apps/downloads/lidarr/ks.yaml
  kubernetes/apps/downloads/qbittorrent/ks.yaml
  kubernetes/apps/downloads/radarr/ks.yaml
  kubernetes/apps/downloads/sonarr/ks.yaml
Labels: area/kubernetes

chore(flux-system): new style
  kubernetes/apps/default/whoami/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/app/helmrelease.yaml
  kubernetes/apps/flux-system/flux-operator/instance/helmrelease.yaml
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/flux-system/namespace.yaml
Labels: area/kubernetes
