Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"

chore(openebs): don't need those
  kubernetes/apps/storage/openebs/app/helmrelease.yaml
Labels: area/kubernetes

chore: remove more helmrepos
  kubernetes/flux/cluster-meta/repositories/helm/intel.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kubernetes-sigs-metrics-server.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kyverno.yaml
  kubernetes/flux/cluster-meta/repositories/helm/node-feature-discovery.yaml
Labels: area/kubernetes

chore: remove more helmrepos
  kubernetes/flux/cluster-meta/repositories/helm/descheduler.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(external-dns): move to OCI
  kubernetes/apps/network/external-dns/cloudflare/helmrelease.yaml
  kubernetes/apps/network/external-dns/unifi/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/external-dns.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/oci/external-dns.yaml
Labels: area/kubernetes

fix(external-dns): missing k
  kubernetes/flux/cluster-meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

chore(ingress-nginx): move to oci
  kubernetes/apps/network/ingress-nginx/private/helmrelease.yaml
  kubernetes/apps/network/ingress-nginx/public/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/oci/ingress-nginx.yaml
  kubernetes/flux/cluster-meta/repositories/oci/kustomization.yaml
Labels: area/kubernetes

chore(cert-manager): move to oci
  kubernetes/apps/network/cert-manager/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/jetstack.yaml
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
Labels: area/kubernetes

chore(nextcloud): move to oci
  kubernetes/apps/selfhosted/nextcloud/app/helmrelease.yaml
  kubernetes/flux/cluster-meta/repositories/helm/.gitkeep
  kubernetes/flux/cluster-meta/repositories/helm/kustomization.yaml
  kubernetes/flux/cluster-meta/repositories/helm/minecraft-server.yaml
  kubernetes/flux/cluster-meta/repositories/helm/nextcloud.yaml
Labels: area/kubernetes

chore: disable helm repos
  kubernetes/flux/cluster-meta/repositories/kustomization.yaml
Labels: area/kubernetes

chore: update bootstrap helmfile
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

chore: update groups
  .github/renovate/groups.json5
Labels: area/github

chore: update renovate configs
  .github/renovate/allowedVersions.json5
  .github/renovate/autoMerge.json5
  .github/renovate/commitMessage.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/groups.json5
  .github/renovate/packageRules.json5
Labels: area/github

chore: prettier
  .github/renovate.json5
  .taskfiles/flux/Taskfile.yaml
  .vscode/extensions.json
  .vscode/settings.json
  Taskfile.yml
  archive/romm/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/values.yaml
  kubernetes/apps/monitor/kromgo/app/config/config.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/smartctl-exporter.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/scrapeconfigs/speedtest-exporter.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/github, area/kubernetes, area/taskfiles

feat(homepage): use unifi api key
  kubernetes/apps/default/homepage/app/configmap.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

fix(homepage): remove old unifi creds
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

feat(cilium): add gateway-api crds
  kubernetes/apps/kube-system/cilium/app/crds.yaml
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/kubernetes

chore(cilium): adjust periods
  kubernetes/apps/kube-system/cilium/app/crds.yaml
Labels: area/kubernetes

fix: specify ns on ocirepo explicitly
  kubernetes/flux/cluster-meta/repositories/oci/democratic-csi.yaml
  kubernetes/flux/cluster-meta/repositories/oci/ingress-nginx.yaml
Labels: area/kubernetes

fix: one more
  kubernetes/flux/cluster-meta/repositories/oci/external-dns.yaml
Labels: area/kubernetes

feat(dcsi): test out on 25.04 again
  kubernetes/apps/storage/democratic-csi/ks.yaml
  kubernetes/apps/storage/democratic-csi/test/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/test/helmrelease.yaml
Labels: area/kubernetes

chore: it works, disable
  kubernetes/apps/storage/democratic-csi/ks.yaml
Labels: area/kubernetes

fix(renovate): fix snafu in groups
  .github/renovate/groups.json5
Labels: area/github

feat: add convertx
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/kustomization.yaml
  kubernetes/apps/selfhosted/convertx/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

schedule on gpu
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
Labels: area/kubernetes

prettier
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
Labels: area/kubernetes

feat: add convertx (#3386)
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
  kubernetes/apps/selfhosted/convertx/app/kustomization.yaml
  kubernetes/apps/selfhosted/convertx/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

fix(convertx): wrong domain
  kubernetes/apps/selfhosted/convertx/ks.yaml
Labels: area/kubernetes

feat(convertx): add gpu
  kubernetes/apps/selfhosted/convertx/app/helmrelease.yaml
Labels: area/kubernetes

fix(aution): how did this get here?
  kubernetes/apps/selfhosted/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix: group prom CRDs
  .github/renovate/groups.json5
Labels: area/github

feat(immich): give openvino a spin
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(immich): give openvino a spin"
  kubernetes/apps/selfhosted/immich/app/helmrelease.yaml
Labels: area/kubernetes

fix(external-secrets): rollback to 0.15.0?
  kubernetes/apps/security/external-secrets/operator/helmrelease.yaml
Labels: area/kubernetes

fix: whoops?
  kubernetes/apps/flux-system/kustomization.yaml
Labels: area/kubernetes

fix(flux): circular dependency!
  kubernetes/apps/flux-system/kustomization.yaml
  kubernetes/apps/security/external-secrets/operator/helmrelease.yaml
  kubernetes/apps/security/external-secrets/operator/kustomization.yaml
  kubernetes/apps/security/external-secrets/operator/kustomizeconfig.yaml
  kubernetes/apps/security/external-secrets/operator/values.yaml
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

fix(renovate): group eso
  .github/renovate/groups.json5
Labels: area/github

prettier
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

use v1 resource
  kubernetes/apps/security/external-secrets/ks.yaml
Labels: area/kubernetes

prettier
  kubernetes/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

chore(eso): bump apiversions
  kubernetes/apps/database/cloudnative-pg/cluster/externalsecret.yaml
  kubernetes/apps/database/dragonfly/cluster/externalsecret.yaml
  kubernetes/apps/default/homepage/app/externalsecret.yaml
  kubernetes/apps/downloads/bazarr/app/externalsecret.yaml
  kubernetes/apps/downloads/lidarr/app/externalsecret.yaml
  kubernetes/apps/downloads/prowlarr/app/externalsecret.yaml
  kubernetes/apps/downloads/radarr/app/externalsecret.yaml
  kubernetes/apps/downloads/recyclarr/app/externalsecret.yaml
  kubernetes/apps/downloads/sonarr/app/externalsecret.yaml
  kubernetes/apps/flux-system/flux-operator/instance/github/webhooks/externalsecret.yaml
  kubernetes/apps/github/arc/operator/externalsecret.yaml
  kubernetes/apps/kube-system/talos-backup/app/externalsecret.yaml
  kubernetes/apps/monitor/gatus/app/externalsecret.yaml
  kubernetes/apps/monitor/grafana/app/externalsecret.yaml
  kubernetes/apps/monitor/kube-prometheus-stack/app/externalsecret.yaml
  kubernetes/apps/monitor/unpoller/app/externalsecret.yaml
  kubernetes/apps/network/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/network/external-dns/cloudflare/externalsecret.yaml
  kubernetes/apps/network/external-dns/unifi/externalsecret.yaml
  kubernetes/apps/security/authentik/app/externalsecret.yaml
  kubernetes/apps/security/external-secrets/stores/clustersecretstore.yaml
  kubernetes/apps/selfhosted/atuin/app/externalsecret.yaml
  kubernetes/apps/selfhosted/immich/app/externalsecret.yaml
  kubernetes/apps/selfhosted/nextcloud/app/externalsecret.yaml
  kubernetes/apps/selfhosted/paperless/app/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/iscsi/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nfs/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/nvmeof/externalsecret.yaml
  kubernetes/apps/storage/democratic-csi/test/externalsecret.yaml
Labels: area/kubernetes
