Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/terraform:
  - "terraform/**/*"

fmt
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/stages-prompt_fields.tf
  infrastructure/terraform/authentik/stages.tf
Labels: none

Passwordless login
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/stages.tf
Labels: none

Feat: authentik passwordless login (#973)
  infrastructure/terraform/authentik/.terraform.lock.hcl
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/stages-prompt_fields.tf
  infrastructure/terraform/authentik/stages.tf
Labels: none

Feat: authentik passwordless login (#973)
  infrastructure/terraform/authentik/.terraform.lock.hcl
  infrastructure/terraform/authentik/flows.tf
  infrastructure/terraform/authentik/stages-prompt_fields.tf
  infrastructure/terraform/authentik/stages.tf
Labels: none

fix typo
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/secret.sops.yaml
Labels: none

fix typo
  infrastructure/terraform/authentik/main.tf
  infrastructure/terraform/authentik/secret.sops.yaml
Labels: none

whoops
  infrastructure/terraform/authentik/flows.tf
Labels: none

whoops
  infrastructure/terraform/authentik/flows.tf
Labels: none

Fixup tasks
  .taskfiles/Ansible/Tasks.yml
  .taskfiles/Terraform/Authentik.yml
  .taskfiles/Terraform/Cloudflare.yml
  .taskfiles/Terraform/Minio.yml
  .taskfiles/Terraform/Proxmox.yml
  .taskfiles/Terraform/Tasks.yml
  .taskfiles/Terraform/TerraformTasks.yml
  Taskfile.yml
Labels: none

Fixup tasks
  .taskfiles/Ansible/Tasks.yml
  .taskfiles/Terraform/Authentik.yml
  .taskfiles/Terraform/Cloudflare.yml
  .taskfiles/Terraform/Minio.yml
  .taskfiles/Terraform/Proxmox.yml
  .taskfiles/Terraform/Tasks.yml
  .taskfiles/Terraform/TerraformTasks.yml
  Taskfile.yml
Labels: none

Remove unneeded volsyncs
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/replicationdestination.yaml
  kubernetes/apps/media/prowlarr/app/replicationsource.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/replicationdestination.yaml
  kubernetes/apps/media/radarr/app/replicationsource.yaml
Labels: area/kubernetes

Remove unneeded volsyncs
  kubernetes/apps/media/prowlarr/app/externalsecret.yaml
  kubernetes/apps/media/prowlarr/app/kustomization.yaml
  kubernetes/apps/media/prowlarr/app/replicationdestination.yaml
  kubernetes/apps/media/prowlarr/app/replicationsource.yaml
  kubernetes/apps/media/radarr/app/externalsecret.yaml
  kubernetes/apps/media/radarr/app/kustomization.yaml
  kubernetes/apps/media/radarr/app/replicationdestination.yaml
  kubernetes/apps/media/radarr/app/replicationsource.yaml
Labels: area/kubernetes

Disable problematic backups tull I'm back
  kubernetes/apps/fileserver/nextcloud/app/kustomization.yaml
  kubernetes/apps/fileserver/tandoor/app/kustomization.yaml
Labels: area/kubernetes

Disable problematic backups tull I'm back
  kubernetes/apps/fileserver/nextcloud/app/kustomization.yaml
  kubernetes/apps/fileserver/tandoor/app/kustomization.yaml
Labels: area/kubernetes

attachRequired is now the default
  kubernetes/apps/storage/democratic-csi/nvmeof/helmrelease.yaml
Labels: area/kubernetes

No, it's actually rc.1
  infrastructure/talos/extras/cni/kustomization.yaml
  kubernetes/apps/kube-system/cilium/app/helm-release.yaml
Labels: area/kubernetes

automerge some bothersome stuff
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

automerge some bothersome stuff
  .github/renovate.json5
  .github/renovate/autoMerge.json5
Labels: area/github

Try the renovate gh workflow again
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

Try the renovate gh workflow again
  .github/renovate-bot.json5
  .github/workflows/renovate.yaml
Labels: area/github

That seemed to work. Disable schedule
  .github/renovate.json5
Labels: area/github

That seemed to work. Disable schedule
  .github/renovate.json5
Labels: area/github

renovate test - downgrade on purpose
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

renovate test - downgrade on purpose
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.26
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich to v1.68.0
  kubernetes/apps/fileserver/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/server/helmrelease.yaml
  kubernetes/apps/fileserver/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus to v5.5.0
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.3
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 1.8.3
  kubernetes/apps/storage/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/thecodingmachine/gotenberg to v7.9.0
  kubernetes/apps/fileserver/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kube-prometheus-stack to 48.1.2
  kubernetes/apps/monitor/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

bleh
  .github/renovate/autoMerge.json5
Labels: area/github

bleh
  .github/renovate/autoMerge.json5
Labels: area/github

fix(container): update image docker.io/thecodingmachine/gotenberg to v7.9.1
  kubernetes/apps/fileserver/paperless/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/nextcloud to v27.0.1
  kubernetes/apps/fileserver/nextcloud/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/twin/gatus to v5.5.1
  kubernetes/apps/monitor/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.32
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart kubelet-csr-approver to 1.0.4
  infrastructure/talos/extras/csr-approver/kustomization.yaml
  kubernetes/apps/kube-system/kubelet-csr-approver/app/helm-release.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.577
  kubernetes/apps/media/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.1
  .github/workflows/renovate.yaml
Labels: area/github
