Repository ishioni/homelab-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/terraform, area/github, area/kubernetes, area/truenas, area/taskfiles

fix: use new API tokens
  kubernetes/apps/network/cert-manager/app/clusterissuer.yaml
  kubernetes/apps/network/cert-manager/app/externalsecret.yaml
  kubernetes/apps/network/external-dns/cloudflare/externalsecret.yaml
Labels: area/kubernetes

fix: change tokens
  truenas/stacks/01-traefik/secrets.sops.env
Labels: area/truenas

chore(unifi): remove
  truenas/stacks/08-unifi/.env
  truenas/stacks/08-unifi/docker-compose.yml
Labels: area/truenas

fix(truenas): tweak node-exporter
  truenas/stacks/06-exporters/docker-compose.yml
Labels: area/truenas

fix(dcsi): 25.04 needs next :(
  kubernetes/apps/storage/democratic-csi/iscsi/helmrelease.yaml
  kubernetes/apps/storage/democratic-csi/nfs/helmrelease.yaml
Labels: area/kubernetes

fix(renovate): spegel group
  .github/renovate/groups.json5
Labels: area/github

chore(hass-proxy): no longer necessary
  kubernetes/apps/network/hass-proxy/app/ingress.yaml
  kubernetes/apps/network/hass-proxy/app/service.yaml
Labels: area/kubernetes

fix(grafana): dashboard vars changed
  kubernetes/apps/monitor/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: change API IP
  kubernetes/bootstrap/talos/talenv.sops.yaml
Labels: area/kubernetes

feat:add lddpd to truenas
  truenas/stacks/08-lldpd/docker-compose.yml
Labels: area/truenas

fix(talos): just leave the e1000e iface alone
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix(talos): remove e1000e stanza
  kubernetes/bootstrap/talos/talconfig.yaml
Labels: area/kubernetes

fix(cnpg): set hard antiaffinity on postgres-16
  kubernetes/apps/database/cloudnative-pg/cluster/cluster-16.yaml
Labels: area/kubernetes

chore(talos-backup): less backups
  infrastructure/terraform/minio/talos.tofu
  kubernetes/apps/kube-system/talos-backup/app/cronjob.yaml
Labels: area/terraform, area/kubernetes

add default site name
  kubernetes/apps/monitor/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

meh
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

chore(authentik): more concurrency
  kubernetes/apps/security/authentik/app/helmrelease.yaml
Labels: area/kubernetes

feat(go2rtc): add
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/externalsecret.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/kustomization.yaml
  kubernetes/apps/selfhosted/go2rtc/app/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/go2rtc/ks.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
Labels: area/kubernetes

enable
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

feat(go2rtc): add (#3474)
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
  kubernetes/apps/selfhosted/go2rtc/app/externalsecret.yaml
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/apps/selfhosted/go2rtc/app/kustomization.yaml
  kubernetes/apps/selfhosted/go2rtc/app/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/go2rtc/ks.yaml
  kubernetes/apps/selfhosted/kustomization.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
Labels: area/kubernetes

fix(go2rtc): escape flux substitutions
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
Labels: area/kubernetes

chore(go2rtc): comment out section
  kubernetes/apps/selfhosted/go2rtc/app/config/go2rtc.yaml
Labels: area/kubernetes

fix(go2rtc): i forgot how these work
  kubernetes/apps/selfhosted/go2rtc/app/helmrelease.yaml
  kubernetes/components/global-vars/cluster-settings.yaml
Labels: area/kubernetes

chore(go2rtc): switch domain
  kubernetes/apps/selfhosted/go2rtc/ks.yaml
Labels: area/kubernetes

chore(go2rtc): retire
  truenas/stacks/07-cameras/.env
  truenas/stacks/07-cameras/config/go2rtc.yaml
  truenas/stacks/07-cameras/docker-compose.yml
  truenas/stacks/07-cameras/secrets.sops.env
Labels: area/truenas

chore(homepage): cleanup secret
  kubernetes/apps/default/homepage/app/externalsecret.yaml
Labels: area/kubernetes

chore(truenas): reconfigure subnet
  truenas/stacks/01-traefik/.env
Labels: area/truenas

ffix(truenas): miscalculated
  truenas/stacks/01-traefik/.env
Labels: area/truenas

chore: update app-template URL
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

fix: adjust signatures
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

fix: it's not there :(
  kubernetes/flux/cluster-meta/repositories/oci/app-template.yaml
Labels: area/kubernetes

fix(terraform): bump authentik tf provider
  infrastructure/terraform/authentik/main.tofu
Labels: area/terraform

chore(authentik): enable remember me
  infrastructure/terraform/authentik/stages.tofu
Labels: area/terraform

feat: add ocis
  kubernetes/apps/selfhosted/nextcloud/ks.yaml
  kubernetes/apps/selfhosted/ocis/app/config/csp.yaml
  kubernetes/apps/selfhosted/ocis/app/config/kustomizeconfig.yaml
  kubernetes/apps/selfhosted/ocis/app/config/proxy.yaml
  kubernetes/apps/selfhosted/ocis/app/config/web.yaml
  kubernetes/apps/selfhosted/ocis/app/externalsecret.yaml
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
  kubernetes/apps/selfhosted/ocis/app/kustomization.yaml
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

enable
  kubernetes/apps/selfhosted/kustomization.yaml
Labels: area/kubernetes

more
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
Labels: area/kubernetes

fix path
  kubernetes/apps/selfhosted/ocis/ks.yaml
Labels: area/kubernetes

more envs
  kubernetes/apps/selfhosted/ocis/app/helmrelease.yaml
Labels: area/kubernetes

fix csp
  kubernetes/apps/selfhosted/ocis/app/config/csp.yaml
Labels: area/kubernetes

add infra code
  infrastructure/terraform/authentik/applications.tofu
  infrastructure/terraform/authentik/main.tofu
  infrastructure/terraform/minio/ocis.tofu
Labels: area/terraform

.github/labeler.yaml:

---
area/terraform:
  - changed-files:
      - any-glob-to-any-file: "infrastructure/terraform/**/*"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/truenas:
  - changed-files:
      - any-glob-to-any-file: "truenas/**/*"
area/taskfiles:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
